log4j.rootLogger=DEBUG, ApplicationLog, smtp

log4j.appender.ApplicationLog.File={{ logs_dir }}/valtionavustus/{{ item }}_application.log
log4j.appender.ApplicationLog=org.apache.log4j.RollingFileAppender
log4j.appender.ApplicationLog.Append=true
log4j.appender.ApplicationLog.layout=org.apache.log4j.PatternLayout
log4j.appender.ApplicationLog.layout.ConversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n
log4j.appender.ApplicationLog.MaxFileSize=10MB
log4j.appender.ApplicationLog.MaxBackupIndex=100

log4j.logger.com=INFO
log4j.logger.fi=INFO
log4j.logger.oph=INFO
log4j.logger.org=INFO

log4j.logger.onelog=INFO, AccessLog
log4j.additivity.onelog= false
log4j.appender.AccessLog.File={{ logs_dir }}/valtionavustus/{{ item }}_access.log
log4j.appender.AccessLog=org.apache.log4j.DailyRollingFileAppender
log4j.appender.AccessLog.DatePattern='.'yyyy-MM-dd
log4j.appender.AccessLog.Append=true
log4j.appender.AccessLog.layout=org.apache.log4j.PatternLayout
log4j.appender.AccessLog.layout.ConversionPattern=%d{ISO8601} %-5p [%t]: %m%n

log4j.appender.smtp=org.apache.log4j.net.SMTPAppender
# Get INFO and WARN level log events as context in the alert mail. The
# triggering ERROR level event will be the last entry in the mail.
log4j.appender.smtp.threshold=INFO
# The number of log events to be sent as context.
log4j.appender.smtp.bufferSize=20
log4j.appender.smtp.SMTPHost=smtp.sdn.csc.fi
log4j.appender.smtp.from={{ logs_mail_recipient }}
log4j.appender.smtp.to={{ logs_mail_recipient }}
log4j.appender.smtp.subject=[${log4j.email.environment}] Virhe palvelimella
log4j.appender.smtp.layout=org.apache.log4j.PatternLayout
log4j.appender.smtp.layout.conversionPattern=%d{ISO8601} %-5p [%t] %c: %m%n
log4j.appender.smtp.EvaluatorClass=oph.common.log4j.SMTPThrottle

oph.common.log4j.SMTPThrottle.threshold=ERROR

