{{ rondo_sftp_host }} ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAIEAo0tB1rgCRG21tESbyQWbp8bhDzeF7je1UbfpzbhU9l8Rdl+y9sF/lQCMIXXD2ghhYOCcyr995yL9XxNKPz86Q+48q4TIXMQiS9vXg/etiUQwxLVAMKoa2cbu5kk77q691Uj5IjmA8tJ+LHwpYQcVmBT+IMtOjpwaWL7FH1N3b7s=
