#!/usr/bin/env bash

set -euo pipefail

/bin/sudo -Hi -u postgres /usr/pgsql-9.4/bin/pg_dump -Fc {{ dbname }} | /usr/local/bin/aws --profile oph-datalake s3 cp - s3://{{ lampi_bucket_name }}/fulldump/valtionavustukset/v1/valtionavustukset.backup
