body {
  background-color: #fafafa;
  color: #1a1919;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

.topbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.top-container {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
}

.topbar .logo {
  display: inline-block;
  vertical-align: top;
  margin: 20px 70px 20px 20px;
}

.content {
  max-width: 1300px;
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;
}
