.headerContainer {
  display: flex;
  justify-content: center;
  height: 48px;
  z-index: 1000000;
  background-color: white;
  box-shadow: none;
}

.stickyHeaderContainer {
  composes: headerContainer;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: 4px 0;
  line-height: 40px;
}

.headerLinks {
  display: flex;
  flex-shrink: 0;
}

.headerLinks * {
  padding-right: 40px;
}

.headerLinks a {
  color: black;
  display: inline-block;
  vertical-align: middle;
}

.headerLinks a[class="activeTab"],
.headerLinks a:hover {
  color: #159ecb;
}

.headerControls {
  display: flex;
  align-items: center;
}

.headerControls * {
  margin-left: 16px;
}

.environmentName {
  height: 24px;
  padding: 0 14px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  background-color: #ba3e35;
  border-radius: 28px;
}

.username {
  font-size: 14px;
}

.logoutButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  color: #159ecb;
  font-size: 14px;
  background: transparent;
  border-width: 0;
  padding: 0;
  margin: 0;
}

.logoutButton:not(:disabled):hover {
  background: transparent;
}

.notificationContainer {
  position: fixed;
  top: 48px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1000000;
  pointer-events: none;
}

.notificationContainerWithoutHeader {
  composes: notificationContainer;
  top: 0px;
}

.notificationWrapper {
  position: relative;
  width: 1300px;
  display: flex;
  justify-content: right;
  opacity: 1;
  transition: all 250ms linear;
}

.notification {
  background-color: #dcf8e7;
  border: 1px solid #108046;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 8px 0;
  padding: 8px 16px;
  pointer-events: initial;
}

.notification *:not(:last-of-type) {
  margin-right: 16px;
}

.notificationError {
  composes: notification;
  background-color: #fff3f2;
  border-color: #ba3e35;
}

.notificationWarning {
  composes: notification;
  background-color: #fffae2;
  border-color: #deb335;
}

.notificationInfo {
  composes: notification;
  background-color: #f6fcff;
  border-color: #499cc7;
}

.notificationIcon {
  padding-right: 16px;
}

.spinnerClass {
  animation: rotator 1s linear infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(270deg);
  }
}

.spinnerPath {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #108046;
  animation: dash 1s ease-in-out infinite;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 187;
  }
  50% {
    stroke-dashoffset: 46;
    transform: rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform: rotate(450deg);
  }
}
