@import "../style/Button.module";
@import "../style/HakemusTable.module";

.table {
  composes: hakemusTable;
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  height: 400px;
  max-width: 1300px;
  margin: 0 auto;
  thead > {
    position: sticky;
    top: 0;
    background-color: white;

    .nameFilter {
      width: 560px;
    }
  }
  .longTextTd {
    > span {
      white-space: pre-line;
    }
  }
}

.goodBadDate {
  display: flex;
  align-items: center;
  justify-content: center;
  > svg {
    margin-right: 4px;
  }
}
