#tab-content .soresu-key,
#tab-content .soresu-value {
    width: 100%;
}

#tab-content .extra-small,
#tab-content .small,
#tab-content .medium,
#tab-content .soresu-attachment-block {
    width: auto;
    font-size: inherit;
}

#tab-content .soresu-attachment-block {
    border: none;
    padding: 0;
}

#tab-content .soresu-preview-element {
    margin-top: 0;
    display: block;
}

#tab-content .soresu-theme {
    margin: 0;
}


.payment-info-columns {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
}

.payment-info-column {
    flex: 1;
    margin-right: 15px;
}

.payment-money-column,
.payment-money-column input {
    text-align: right;
}

.application-payments-disabled,
#tab-content.disabled {
    opacity: 0.5;
    pointer-events: none;
}

button.remove.delete-payment-button {
    height: auto;
    width: auto;
    background-size: 15px;
    padding: 8px 2px 8px 14px;
    margin-left: 5px;
}

.grant-refused-notice {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d9d9d9;
}

#editor-subtab-selector.fixed-tabs {
    background-color: white;
    padding: 10px 14px 6px 10px;
    margin-top: 0;
    margin-bottom: 8px;
    width: 706px;
    white-space: nowrap;
}

.modified-date {
    margin-left: 4px;
}

.muutoshakemus-tab>span {
    margin-left: 1ch;
}

.muutoshakemus-link {
    margin-bottom: 2rem;
}

.muutoshakemukset-warning {
    color: red !important;
}

.hakemus-details-modal__wrapper {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
}

@supports ((-webkit-backdrop-filter: brightness(50%) blur(5px)) or (backdrop-filter: brightness(50%) blur(5px))) {
    .hakemus-details-modal__wrapper {
        background-color: unset;
        -webkit-backdrop-filter: brightness(50%) blur(5px);
        backdrop-filter: brightness(50%) blur(5px);
    }
}


.hakemus-details-modal__modal {
    position: relative;
    width: 100%;
    max-width: 70vw;
    max-height: calc(100vh - 40px);
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: initial !important;
}

.hakemus-details-modal__title-row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 48px;
    width: 100%;
    border-bottom: 1px solid black;
    font-size: 1rem;
}

.hakemus-details-modal__close-button {
    position: absolute;
    top: 0;
    right: 4px;
}

.hakemus-details-modal__content-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
}