div.kayttoaika div.date-input-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

div.kayttoaika div.date-input-container:not(:first-of-type) {
  margin-top: 1em;
}

div.kayttoaika div.date-input-container .datepicker {
  max-width: 250px;
}

div.kayttoaika div.date-input-container .error {
  background: red;
  border: 3px solid red;
}
