.muutoshakemus-tabs {
  display: flex;
  border-bottom: 1px solid var(--light-gray);
}

.muutoshakemus-tabs__tab:not(:first-of-type) {
  margin-left: 1vw;
}

.muutoshakemus-tabs__tab {
  appearance: none;
  background: inherit;
  padding: 0.5rem 0;
  margin: 0;
  font-weight: 700;
  color: var(--light-gray);
  cursor: pointer;
  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  box-sizing: border-box;
}

.muutoshakemus-tabs__tab:not(:disabled):hover {
  background: none;
}

.muutoshakemus-tabs__tab:focus {
  outline: 0;
}

.muutoshakemus-tabs__tab.active {
  color: var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
}
