/* @import "~react-widgets/styles.css";  Moved to TSX */

.muutoshakemus__header {
    color: #000;
    font-weight: 700;
    margin: 0;
}

h3.muutoshakemus__header {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: -0.025em;
    color: #1a1919;
}

h4.muutoshakemus__header {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.muutoshakemus-section-title {
    font-size: 1.2rem;
    line-height: 1.7rem;
    letter-spacing: -0.015em;
    color: #1a1919;
    margin-top: 1rem;
}

.muutoshakemus-paatos-notice {
    margin-top: 1rem;
}

.muutoshakemus-row {
    margin: 1rem 0;
}

.muutoshakemus__paatos {
    border-left: 3px solid var(--bright-blue);
    padding-left: 1rem;
}

.muutoshakemus__paatos-status {
    position: relative;
    padding-left: 3rem;
}

.muutoshakemus__paatos-icon::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2rem;
    left: 0;
    top: 0;
    background-size: 2rem;
}

.muutoshakemus__paatos-icon--accepted::before {
    background: url("../../../img/icon_accepted.svg") no-repeat 50% 50%;
}

.muutoshakemus__paatos-icon--accepted_with_changes::before {
    background: url("../../../img/icon_accepted.svg") no-repeat 50% 50%;
}

.muutoshakemus__paatos-icon--rejected::before {
    background: url("../../../img/icon_rejected.svg") no-repeat 50% 50%;
}

.muutoshakemus__project-end-row {
    display: flex;
}

.muutoshakemus__project-end-row div:not(:first-of-type) {
    margin-left: 1vw;
}

.muutoshakemus__accept-with-changes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1rem;
    align-items: center;
    column-gap: 1rem;
}

.muutoshakemus__accept-with-changes h3,
.muutoshakemus__accept-with-changes div {
    margin: 0;
}

.muutoshakemus__accept-with-changes .calendar {
    width: 240px;
}

.muutoshakemus__accept-with-changes div:not(:first-of-type) {
    margin-left: 0;
}

.muutoshakemus__accept-with-changes .row1 {
    grid-row: 1;
}

.muutoshakemus__accept-with-changes .row2 {
    grid-row: 2;
}

.muutoshakemus__accept-with-changes .row3 {
    grid-row: 3;
}

.muutoshakemus__accept-with-changes .col1 {
    grid-column: 1;
}

.muutoshakemus__accept-with-changes .col2 {
    grid-column: 2;
}

.muutoshakemus__accept-with-changes .col3 {
    grid-column: 3;
}

.muutoshakemus__default-reason-link {
    font-size: 0.8rem;
    padding-left: 2rem;
}

textarea.muutoshakemus__error:enabled,
input.muutoshakemus__error:enabled,
.datepicker.muutoshakemus__error {
    border: 1px solid var(--bright-red) !important;
}

div.muutoshakemus__error,
span.muutoshakemus__error {
    font-size: 0.8rem;
    color: var(--bright-red);
}

.muutoshakemus__preview-row {
    position: relative;
    padding-left: 2rem;
}

.muutoshakemus__paatos-preview-link::before {
    position: absolute;
    content: "";
    height: 2rem;
    width: 2rem;
    left: 0;
    top: -0.3rem;
    background: url("../../../img/icon_preview.svg") no-repeat 50% 50%;
    background-size: 1.2rem;
}

.datepicker {
    border: 1px inset black !important;
    border-image: initial;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 1px 2px;
    height: auto;
    box-shadow: none !important;
}

.datepicker input {
    border: 0 !important;
}

#approve-with-changes-muutoshakemus-jatkoaika-oph .rw-calendar-popup {
    left: unset;
    right: 0;
    padding-right: 0;
}