
@descriptionWidth: 240px;
@existingAmountWidth: 100px;

@separatorLeftMargin: 17px;
@separatorBorder: 1px;
@separatorRightMargin: 13px;
@separatorWidth: @separatorLeftMargin + @separatorBorder + @separatorRightMargin;

@leftColumnWidth: @descriptionWidth + @existingAmountWidth + @separatorWidth;

.muutoshakemus_taloudenKayttosuunnitelma {

  .headerContainer {
    display: flex;
    margin-bottom: 20px;

    .currentBudget {
      width: @leftColumnWidth;
      text-transform: uppercase;
    }

    .modifiedBudget {
      text-transform: uppercase;
    }
  }

  .expensesHeader {
    font-weight: bold;
    margin-bottom: 10px;
  }

  &_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 38px;

    .description {
      width: @descriptionWidth;
    }

    .existingAmount {
      width: @existingAmountWidth;
      text-align: right;
    }

    .separator {
      align-self: stretch;
      margin-left: @separatorLeftMargin;
      border-right: @separatorBorder solid #979797;
      margin-right: @separatorRightMargin;
    }

    .changedAmount {
      width: 120px;
      display: flex;
      align-items: center;

      input {
        width: 80px;
        margin-right: 5px;
      }
    }
  }
}