#!/bin/bash

if [ -z $1 ]; then
  echo "Usage: $0 <jar to run>"
  exit 2
fi

stdout_stderr_file={{ logical_volumes.logs.mount_point }}/valtionavustus/`basename $1`_run.log
pid_file=/var/tmp/va.pid
daemon=/usr/bin/java
daemon_args="-jar $1"

CONFIG=/www/valtionavustus/config/test.edn  start-stop-daemon --start --chuid=www  \
  --make-pidfile --pidfile $pid_file --background                      \
  --startas /bin/bash -- -c "exec $daemon $daemon_args > ${stdout_stderr_file} 2>&1"