#!/bin/bash

if [ -z $1 ]; then
  echo "Usage: $0 <SQL file to run>"
  exit 2
fi

# TODO: Solve how to handle the SQL runs to different dbs. Pass more parameters from command line?
echo "    Executing $1 as {{ db_accounts[0].dbuser }} to db {{ db_accounts[0].dbname }} ..."
time PGPASSWORD={{ db_accounts[0].dbpassword }} /usr/bin/psql -U {{ db_accounts[0].dbuser }} -h localhost -d {{ db_accounts[0].dbname }} -f $1 ${@:2}
retval=$?
echo "    ...SQL execution done."
exit $retval
