#!/bin/bash
set -euo pipefail

function show_usage() {
  echo "Usage: $0 --start <application name> <jar to run> <log4j config location> <default configs edn file> <specific config edn file>"
  echo "or: $0 --stop <application name>"
  exit 2
}

if [ -z ${2+x} ]; then
  show_usage
fi

app_name=$2

pid_file=/var/tmp/${app_name}.pid

function start_app() {
  stdout_stderr_file={{ logical_volumes.logs.mount_point }}/valtionavustus/${app_name}_started_at_`date +'%Y%m%d%H%M%S'`_run.log
  sudo -u www ln -sf `basename $stdout_stderr_file` `dirname $stdout_stderr_file`/${app_name}_current_run.log
  daemon=/usr/bin/java
  daemon_args="-jar -Dlog4j.email.environment=$HOSTNAME -Dlog4j.configuration=$2 $1"

  configsecrets={{ logical_volumes.data.mount_point }}/www/secret/secret-va-{{ app_profile }}.edn \
  configdefaults=$3 config=$4  start-stop-daemon --start --chuid=www  \
    --make-pidfile --pidfile $pid_file --background                      \
    --startas /bin/bash -- -c "exec $daemon $daemon_args > ${stdout_stderr_file} 2>&1"
}

function stop_app() {
  stop_timeout_seconds=30
  start-stop-daemon --stop --pidfile $pid_file --retry $stop_timeout_seconds --oknodo
}

if [ "$1" == --start ]; then
  if [ -z ${5+x} ]; then
    show_usage
  else
    start_app $3 $4 $5 $6
  fi
elif [ "$1" == --stop ]; then
  stop_app
else
  show_usage
fi