**/checkouts/
**/resources/public/hakija/js/
**/resources/public/virkailija/js/
**/resources/public/admin-ui/js
**/resources/public/admin-ui/css/*-min.css
**/resources/public/applications/js
**/resources/public/applications/css/*-min.css
**/resources/public/virkailija/fonts/
**/resources/public/hakija/fonts/
/va-admin-ui/package*
*.iml
.*.swp
.DS_Store
.idea/
.lein-*
.nrepl-port
/doc/gh-md-toc
/servers/fact_cache/
node_modules/
npm-debug.log
scripts/docker/db-variables.env
scripts/postgres-docker/postgres-data/
scripts/postgres-docker/postgres-data-12-2/
target/
/test/screenshots/
servers/site.retry
fakesmtp/mail
*~
\#*
.#*
secret-dev.edn
dist
.rebel_readline_history
.package-lock.json.checksum
git-HEAD.txt
.python-version
playwright-results/
scripts/docker-compose
scripts/launch-db-with-prod-db-state/valtionavustukset.backup
test-results
tmp/
deploy-scripts/dist/
/tmp
/.lsp
/.clj-kondo
