**/checkouts/
**/resources/public/js/
*.iml
.*.swp
.DS_Store
.lein-*
.nrepl-port
/.idea/
/doc/gh-md-toc
/servers/fact_cache/
/servers/python-venv/
node_modules/
npm-debug.log
pom.xml
scripts/docker/db-variables.env
target/
