**/checkouts/
**/resources/public/js/
**/resources/public/payments/js
*.iml
.*.swp
.DS_Store
.idea/
.lein-*
.nrepl-port
/doc/gh-md-toc
/servers/fact_cache/
/servers/python-venv/
node_modules/
npm-debug.log
pom.xml
scripts/docker/db-variables.env
target/
