version: '3.9'

name: valtionavustus

services:
  va:
    extends:
      service: va-server
    command: with-profile server-local run -m oph.va.hakija.main
    hostname: va
    depends_on:
      db:
        condition: service_healthy
      fakesmtp:
        condition: service_started
      maksatuspalvelu:
        condition: service_started
      pagerduty:
        condition: service_started
    environment:
      JAVA_TOOL_OPTIONS: '-Duser.timezone="Europe/Helsinki"'
      PAGERDUTY_API_ENDPOINT: 'http://pagerduty:8080/v2/enqueue'
      PAGERDUTY_ROUTING_KEY: '_not_used_on_local_dev_'
      PAYMENT_SERVICE_HOST: 'maksatuspalvelu'
      PAYMENT_SERVICE_HOST_KEY: 'ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDI3YbtcvUMQeejYZC/OEgKORe6gcYFqW+IblPkE07PrjGjHkrMzHbWYAe2BQOlaZ1leGE0SSceYYqSVbLmUSJ7bMv4QH3T+MSl2NtjH3KO3a6kX9nebc6xo3CVfm6CajdYol1/toBSXQqSwq7gcb4N1wL1Gr7569T5zXT3ecLRx/RgJTzDG1B1kWwQTDl0L8UHZuLkmuY6hnrDbfmMxYylMyqgDBUcLE9OXbO9KLQQMsHZz9X338p5jT7ZlxyfGPkNZXl7t7WPB82SWTiqL8bNOgCKWb0ktbhPIwxS4wNC0vcauT3bV/4tLG+Q9/L5GjMI4sSW3Kx9UxafJLzfxa3qtBNgTfTiwsdeDOlqHx0cpCwnA9jT/YJvt6sn+NUmPGscrb/9IgGiNO7t7MagVfhxBujimzKMojYRUsRaLgv5bKxsdBlr3OgNWzfQta2o1Ztc46bpzqd4d9WR+CHYCI+qznjU/KacFGLTwHj9BwpYXeuFzl1AAr8lX5mNFckuDbMP1PDxVg/ZEckk+qP+AOYuUyLPHoxu+9ow7ZxC4hXF1ht3CQllopxrlqHK2eSJJqwufqZEQYRXqzXP79+W0rZVHEQPTzAhbm8LDThwEcq7DoRWRE+kPxQM+Sq6l/PdCRjORITEI7iGl7bM2J1D/mB157ngWI7YNsJC9JnkzU8pFw=='
    healthcheck:
      test: ["CMD-SHELL", "curl http://localhost:8081/api/healthcheck"]

  va-server:
    build:
      context: .
      dockerfile: ./Dockerfile.va-app
      args:
        - REVISION
    image: ${VA_SERVER_IMAGE-va-server:latest}
    pull_policy: missing
    volumes:
      - /dev/urandom:/dev/random
    logging:
      options:
        mode: 'non-blocking'

  db:
    image: postgres:18.0@sha256:6f3e42ad37decc037c508dd405f5941c6dfa7d21f21a7237a43bde9def1e295e
    volumes:
      - ./scripts/postgres-docker/init-db.sql:/docker-entrypoint-initdb.d/init.sql
    hostname: va-postgres
    ports:
      - '5432:5432'
    command: ["postgres", "-c", "log_statement=all", "-c", "log_line_prefix='%m [%p] {%x} '"]
    environment:
      POSTGRES_USER: 'va'
      POSTGRES_PASSWORD: 'va'
      PGDATA: '/tmp/'
      TZ: "Europe/Helsinki"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5
    logging:
      options:
        mode: 'non-blocking'


  fakesmtp:
    build:
      context: .
      dockerfile: ./Dockerfile.rcs-fakesmtp
    hostname: fakesmtp
    volumes:
      - ./fakesmtp/mail:/var/mail
    logging:
      options:
        mode: 'non-blocking'

  pagerduty:
    image: mendhak/http-https-echo:38@sha256:c73e039e883944a38e37eaba829eb9a67641cd03eff868827683951feceef96e
    hostname: pagerduty
    environment:
      ECHO_BACK_TO_CLIENT: false

  maksatuspalvelu:
    image: atmoz/sftp@sha256:0960390462a4441dbb63698d7c185b76a41ffcee7b78ff4adf275f3e66f9c475
    hostname: maksatuspalvelu
    volumes:
      - ./maksatuspalvelu/initialize-maksatuspalvelu.sh:/etc/sftp.d/initialize-maksatuspalvelu.sh
      - ./maksatuspalvelu/identity/ssh_host_ed25519_key:/etc/ssh/ssh_host_ed25519_key
      - ./maksatuspalvelu/identity/ssh_host_rsa_key:/etc/ssh/ssh_host_rsa_key
    command: demo:pass:1001:100
    logging:
      options:
        mode: 'non-blocking'
