#/bin/env bash

ALERT_EMAIL="{{ alert_mail_recipient }}"
THRESHOLD=95

function log {
  local timestamp=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
  echo $timestamp "$@"
}

function send_alert {
  local mount_point=$1
  local percent=$2
  mail -s "ALERT: $(hostname) mount point ${mount_point} disk usage at ${percent}%" ${ALERT_EMAIL} << EOF
Host: $(hostname)
Mount point: ${mount_point}
Used: ${percent}%
Threshold: ${THRESHOLD}%
EOF
}

df --output=target,pcent --type=xfs | tail -n +2 | while read line; do
  mount_point=$(echo $line|awk '{ print $1 }');
  percent=$(echo $line|awk '{ print $2 }'|sed 's/%//');
  if [ "${percent}" -gt "${THRESHOLD}" ]; then
    log "Mount point $mount_point disk space used ${percent}%, which is over threshold of ${THRESHOLD}%. Sending alert"
    send_alert "${mount_point}" "${percent}"
  else
    log "Mount point $mount_point disk space used ${percent}%, which is under or equal to threshold of ${THRESHOLD}%. Not sending alert"
  fi
done
