body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}

h1, h2, h3 {
  color: #000;
}
h1 {
  font-size: 2.5em
}

h2 {
  font-size: 2em
}

h3 {
  font-size: 1.5em
}

a {
  text-decoration: none;
  color: #09f;
}

a:hover {
  text-decoration: underline;
}

#app {
  padding-bottom: 10px;
}

hr {
  border-top: 1px solid #f6f4f0;
}

.logout-button {
  float: right;
}

.oph-select-container:before {
  pointer-events: none;
}

.va-ui-table td, .va-ui-table th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: left;
  padding: 5px;
}

.va-ui-table table {
  border-collapse: collapse;
  table-layout: fixed;
}

.va-ui-table-body tr:nth-child(even) {
  background-color: #f6f4f0;
}

.va-ui-table-body tr:nth-child(odd) {
  background-color: white;
}

.oph-input.small {
  padding: 1px;
}

.disabled {
  opacity: 0.3;
  pointer-events: none;
}

.tooltip button:focus {
  outline: 0;
}
