@import "~soresu-form/web/form/style/theme.css";

.organisation-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;

    min-width: 800px;
    min-height: 460px;

    left: calc(50% - 400px);
    top: calc(50% - 230px);
    background-color: var(--lighter-gray);
    border-radius: 8px;

    gap: 1rem;

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.organisation-modal-label {}

.organisation-modal-label>input {
    margin: 0 10px 0 10px;
    padding: 8px;
}

.business-id-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.organisation-selection {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border-color: var(--lightest-gray);
    border-width: 2px;
    padding: 8px;
    min-width: 340px;
}

.organisation-selection:hover {
    background-color: var(--lightest-gray);
}

.selected {
    background-color: var(--lightest-gray);
    border-style: inset;
}

.selector-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

.selector {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 1rem;
}

.selection-field {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.selection-field-label {
    flex: 1 0 0;
    display: flex;
    justify-content: end;
}

.selection-field-value {
    flex: 2 0 0;
    display: flex;
    justify-content: start;
}

.organisation-selection-info {
    display: flex;
    text-align: center;
    max-width: 35rem;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8rem;
    color: var(--darker-gray);
    margin-top: 1.5rem;
}

button.get-business-id,
input.get-business-id {
    color: #fff;
    background-color: var(--light-green);
    border-width: 0;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 300;
}

button[disabled].get-business-id {
    background-color: var(--light-gray);
    border: 1px solid var(--light-gray);
}