.koodienhallinta-container {
  background-color: #fafafa;
  width: 100vw;
}

.koodienhallinta-body {
  padding-top: 8px;
  background-color: rgb(250, 250, 250);
  max-width: var(--form-width);
  margin: 0 auto;
}

.code-input-container {
  display: flex;
  flex-direction: row;
  align-items: end;
}

.code-input {
  margin: 5px;
}

.code-input__year {
  max-width: 75px;
}

.code-input__code {
  max-width: 150px;
}

.code-input__name {
  max-width: 350px;
}

.code-input-error {
  color: red;
  padding-left: 0.5rem;
}

.code-input-saving {
  margin: 0.6rem;
}

.code-input-submit {
  margin: 0.4rem;
}

.code-cell__hidden {
  color: #e3e3e3;
}

.code-cell__buttons {
  text-align: center;
}

.icon-lock-open:hover path,
.icon-lock-closed:hover path {
  fill: var(--bright-blue);
}

.icon-delete:hover path:nth-last-of-type(1) {
  fill: var(--bright-blue);
}

td,
th {
  height: 48px;
  text-align: left;
  padding: 1px 1.5rem;
}

tr {
  border-bottom: 1px solid rgb(224, 224, 224);
}

table {
  table-layout: fixed;
  width: 100%;
}

thead {
  position: sticky;
  top: 0;
  background-color: #fafafa;
}

td.loading > div {
  height: 1em;
  position: relative;
  overflow: hidden;
  background-color: #dddbe0;
}

td.loading > div::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.2) 20%,
    rgba(255, 255, 255, 0.5) 60%,
    rgba(255, 255, 255, 0)
  );
  animation: shimmer 2s infinite;
  content: '';
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

.oph-tab-item-is-active {
  z-index: auto !important;
}
