{:server {:auto-reload? true
          :allow-db-clear? false
          :enable-access-log? true
          :host "localhost"
          :port 8081
          :require-https? true
          :attachment-max-size 50 ;in megabytes
          :threads 16
          :virkailija-url "http://localhost:8081"}
 :opintopolku {:url "https://testi.virkailija.opintopolku.fi"
               :cas-login "/cas/login?service="
               :cas-logout "/cas/logout?service="
               :permission-request "/authentication-henkiloui/html/#/omattiedot2"}
 :ui {:show-environment? true}
 :db {:pool-name "virkailija-pool"
      :username "va_virkailija"
      :password "va"
      :server-name "localhost"
      :port-number 5432
      :schema "virkailija"}
 :hakija-db {:pool-name "hakija-pool"
             :username "va_hakija"
             :password "va"
             :server-name "localhost"
             :port-number 5432
             :schema "hakija"}
 :email {:enabled? false
         :host nil
         :port nil
         :from {:fi "no-reply@valtionavustukset.oph.fi"
                :sv "no-reply@statsunderstod.oph.fi"}
         :sender "no-reply@csc.fi"
         :bounce-address "va-dev@reaktor.com"
         :print-mail-on-disable? true
         :retry-initial-wait 2000
         :retry-multiplier 4
         :retry-max-time 60000}}
