{:server {:allow-db-clear? true
          :url {:fi "http://localhost:8080/"
                :sv "http://localhost:8080/"}
          :virkailija-url "http://localhost:8081"
          :enable-access-log? false
          :enable-hsts? false
          :enable-csp? false
          :without-authentication? true
          :require-https? false
          :payment-service-sftp {:enabled? true
                                 :host-ip "127.0.0.1"
                                 :port 42022
                                 :local-path "/tmp/"
                                 :remote_path "./to_handi/va/"
                                 :remote_path_from "./from_handi/va/"
                                 :username "demo"
                                 :password "pass"}

          :rondo-sftp {:enabled? true
                       :host-ip "127.0.0.1"
                       :port 42022
                       :local-path "/tmp/"
                       :remote_path "./to_handi/va/"
                       :remote_path_from "./from_handi/va/"
                       :username "demo"
                       :password "pass"}}
 :api {:restricted-routes? false}
 :db {:database-name "va-dev"
      :port-number 42042}
 :nrepl-enabled? true
 :email {:enabled? true
         :host "localhost"
         :port 42069}
 :payments {:enabled? true
            :delete-payments? true}
 :tasmaytysraportti-create {:enabled? true}
 :tasmaytysraportti-send {:enabled? true}
 :dont-send-loppuselvityspyynto-to-virkailija {:enabled? true}
 :avustushaku-excel-extra-fields {:enabled? true}
 :ta-tilit {:enabled? true}
 :test-apis {:enabled? true}
 :multiple-project-codes {:enabled? true}}
