{:server {:allow-db-clear? true
          :url {:fi "http://localhost:8080/"
                :sv "http://localhost:8080/"}
          :enable-access-log? false
          :without-authentication? true
          :require-https? false}
 :api {:restricted-routes? false}
 :nrepl-enabled? true
 :email {:enabled? true 
         :host "fakesmtp"
         :port 25
         :to-finance ["test@test.com"]}
 :payments {:enabled? true
            :delete-payments? true}
 :va-users {:use-cache? false }
 :tasmaytysraportti-create {:enabled? true}
 :db {:server-name "va-postgres"
      :database-name "va-dev"}}
