{:server {:allow-db-clear? true
          :url {:fi "http://va-hakija:8080/"
                :sv "http://va-hakija:8080/"}
          :virkailija-url "http://va-virkailija:8081"
          :enable-access-log? false
          :enable-hsts? false
          :enable-csp? false
          :without-authentication? true
          :require-https? false
          :payment-service-sftp {:enabled? true
                                 :host-ip "maksatuspalvelu"
                                 :port 22
                                 :local-path "/tmp/"
                                 :remote_path "./to_handi/va/"
                                 :remote_path_from "./from_handi/va/"
                                 :username "demo"
                                 :password "pass"}}
 :api {:restricted-routes? false}
 :nrepl-enabled? true
 :email {:enabled? true
         :host "fakesmtp"
         :port 25}
 :payments {:enabled? true
            :delete-payments? true}
 :va-users {:use-cache? false }
 :tasmaytysraportti-create {:enabled? true}
 :db {:server-name "va-postgres"
      :database-name "va-dev"}
 :dont-send-loppuselvityspyynto-to-virkailija {:enabled? true}
 :ta-tilit {:enabled? true}
 :test-apis {:enabled? true}
 :officer-edit-jwt-secret "playwright-test-secret"
 :multiple-project-codes {:enabled? true}}
