{:server {:allow-db-clear? true
          :enable-access-log? false
          :enable-hsts? false
          :enable-csp? false
          :port 8081
          :url {:fi "http://localhost:8081/"
                :sv "http://localhost:8081/"}}
          :virkailija-url "http://localhost:8081"
 :api {:restricted-routes? false}
 :db {:database-name "va-test"}
 :email {:print-mail-on-disable? false}
 :va-users {:use-cache? false}
 :payments {:enabled? true :delete-payments? true}
 :dont-send-loppuselvityspyynto-to-virkailija {:enabled? true}
 :loppuselvitys-stats-endpoint {:enabled? true}
 :test-apis {:enabled? true}
 }
