{:server {:auto-reload? false
          :allow-db-clear? false
          :port 6071
          :host "*"
          :virkailija-url "https://virkailija.valtionavustukset.oph.fi"
          :url {:fi "https://valtionavustukset.oph.fi/"
                :sv "https://statsunderstod.oph.fi/"}}
 :opintopolku {:url "https://virkailija.opintopolku.fi"}
 :ui {:show-environment? false}
 :virkailija-db {:database-name "va-prod"}
 :form-db {:database-name "va-prod"}
 :email {:enabled? true
         :host "smtp.sdn.csc.fi"
         :port 25
         :sender "no-reply@csc.fi"
         :bounce-address "valtionavustukset@oph.fi"
         :retry-initial-wait 2000
         :retry-multiplier 4
         :retry-max-time 60000}}
