{:server {:auto-reload? false
          :allow-db-clear? false
          :host "*"
          :port 6071
          :virkailija-url "https://testi.virkailija.valtionavustukset.oph.fi"
          :url {:fi "https://testi.valtionavustukset.oph.fi/"
                :sv "https://testi.valtionavustukset.oph.fi/"}}
 :db {:database-name "va-qa"}
 :email {:enabled? true
         :host "smtp.sdn.csc.fi"
         :port 25
         :sender "no-reply@csc.fi"
         :persistent-retry {:enabled? true
                            :schedule "0 * * * * ?"}}
 :rondo-scheduler {:enabled? true
                    :scheduling "0 00 04 ? * *"
                    :strict-host-key-checking :yes}
 :notifications {:asiatarkastus {:enabled? true
                                 :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :valiselvitys  {:enabled? true
                                 :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :loppuselvitys-palauttamatta {:enabled? true
                                               :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :valiselvitys-palauttamatta  {:enabled? true
                                               :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :laheta-valiselvityspyynnot  {:enabled? true
                                               :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :laheta-loppuselvityspyynnot {:enabled? true
                                               :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :hakuaika-paattymassa {:enabled? true
                                        :schedule "0 0 14 ? * 1,2,3,4,5"}
                 :hakuaika-paattynyt {:enabled? true
                                      :schedule "0 0 7 ? * *"}
                 :muutoshakemuksia-kasittelematta {:enabled? true
                                                   :schedule "0 0 14 ? * MON-FRI"}
                 }
 :payments {:enabled? true :delete-payments? true}
 :tasmaytysraportti-create {:enabled? true}
 :tasmaytysraportti-send {:enabled? true}
 :integration-healthcheck {:enabled? true
                           :timeout 5000
                           :interval-minutes 15}
 :ta-tilit {:enabled? true}
 :new-paatoksen-liitteet {:enabled? true}
 }
