.pill {
  box-sizing: border-box;
  border-radius: 8px;
  padding: 0 4px;
  font-size: 13px;
  border: 1px solid;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;

  &.compact {
    border-radius: 4px;
    height: 26px;
    font-size: 10px;
    padding: 2px 4px;
  }
}


.greenPill {
  composes: pill;
  background: #DCF8E7;
  border-color: #A1E2BB;
}

.redPill {
  composes: pill;
  background: #FFF1F1;
  border-color: #FADCDC;
}

.yellowPill {
  composes: pill;
  background: #FFFAE2;
  border-color: #F1E6AF;
}

.greyPill {
  composes: pill;
  background: #F8F8F8;
  border-color: #E6E6E6;
}

.bluePill {
  composes: pill;
  background: #F6FCFF;
  border-color: #C8E8F9;
}
