{; available environments: [:dev :test :va-test :va-prod]
 ;
 ; example:
 ; :muistutusviesti-loppuselvityksesta [:dev :test]}

 ; https://jira.eduuni.fi/browse/VA-373
 :muistutusviesti-loppuselvityksesta [:dev :va-test]

 ;https://jira.eduuni.fi/browse/VA-374
 :loppuselvitys-taydennyspyynto [:dev :va-test]
 }
