{; available environments: [:dev :test :va-test :va-prod]
 ;
 ; example:
 ; :muistutusviesti-loppuselvityksesta [:dev :test]}

 ; https://jira.eduuni.fi/browse/VA-373
 :muistutusviesti-loppuselvityksesta [:dev :va-test]

 ;https://jira.eduuni.fi/browse/VA-375
 :vapaamuotoinen-viesti-hankkeelle [:dev :va-test]

;https://jira.eduuni.fi/browse/VA-342
:automaattimuistutus-raportointivelvoitteille [:dev :va-test]

}
