{:avustushaku
 {:form_loppuselvitys 3,
  :register-number "351/2018",
  :content
  {:self-financing-percentage 10,
   :operational-unit "toimintayks1",
   :name {:fi "test 1", :sv "SV: test 1"},
   :focus-areas {:items [{:fi "Piste 1", :sv "s"}], :label {:fi "Painopistealueet", :sv "Fokusområden"}}
   :duration
   {:end "2018-02-04T13:31:00.000Z", :label {:fi "Hakuaika", :sv "Ansökningstid"}, :start "2018-01-15T13:31:00.000Z"},
   :rahoitusalueet [],
   :project "projekti1",
   :selection-criteria
   {:items [{:fi "", :sv ""}],
    :label {:fi "Valintaperusteet", :sv "Urvalsgrunder"}}},
  :valiselvitysdate "2018-03-15T00:00:00.000Z",
  :phase "ended",
  :is_academysize false,
  :form_valiselvitys 2,
  :loppuselvitysdate "2018-11-25T00:00:00.000Z",
  :status "resolved",
  :id 1,
  :form 1,
  :haku-type "erityisavustus",
  :decision
  {:kayttooikeudet {:fi "tekijänoikeudet 1", :sv "SV: tekijänoikeudet 1"},
   :hyvaksyminen {:fi "päätöksen hyväksyminen 1", :sv "SV: päätöksen hyväskyminen"},
   :date "19.1.2018",
   :sovelletutsaannokset {:fi "sovelletut säännökset 1", :sv "SV: sovelletut säännökset 1"},
   :maksu {:fi "avustuksen maksuaika 1", :sv "SV: avustuksen maksuaika 1"},
   :valmistelija {:fi "esittelijä 1", :sv "SV: esittelijä 1"},
   :kayttotarkoitus {:fi "avustusksen käyttötarkoitus 1", :sv "SV: avustusksen käyttötarkoitus 1"},
   :johtaja {:fi "johtaja 1", :sv "SV: johtaja 1"},
   :kayttoaika {:fi "avustuksen käyttöaika 1", :sv "SV: avustustuksen käyttöaika 1"},
   :liitteet
   [{:id "2b_ehdot_ja_rajoitukset_yleisavustus", :group "Ehdot", :version "_2017-10"}
    {:id "3a_oikaisuvaatimusosoitus_valtionavustuslaki", :group "Oikaisuvaatimusosoitus", :version ""}
    {:id "va_yleisohje", :group "Valtionavustusten yleisohje", :version ""}],
   :taustaa {:fi "taustaa 1", :sv "SV: taustaa 1"},
   :myonteinenlisateksti {:fi "myön päätös lisäteksti 1", :sv "SV: myös päätös lisäteksti 1"},
   :selvitysvelvollisuus {:fi "selvitysvelvollisuus 1", :sv "SV: selvitysvelvollisuus 1"}}},
 :form
 {:content
  ({:id "name", :fieldType "h1", :fieldClass "infoElement"}
   {:id "duration", :fieldType "dateRange", :fieldClass "infoElement"}
   {:id "duration-help",
    :text
    {:fi "Hakemusta on mahdollista muokata hakuajan loppuun asti. Hakemukset käsitellään hakuajan jälkeen.",
     :sv "Ansökan kan bearbetas ända till  ansökningstidens slut. Ansökningarna behandlas efter ansökningstiden."},
    :fieldType "p",
    :fieldClass "infoElement"}
   {:id "applicant-info",
    :label {:fi "Hakijan tiedot", :sv "Uppgifter om sökanden"},
    :children
    [{:id "organization-fieldset",
      :children
      [{:id "organization",
        :label {:fi "Hakijaorganisaatio", :sv "Sökandeorganisation"},
        :params {:size "large", :maxlength 80},
        :helpText
        {:fi "Ilmoita hakijaorganisaation nimi ja virallinen sähköpostiosoite.",
         :sv "Meddela sökandeorganisationens namn och officiella e-postadress."},
        :required true,
        :fieldType "textField",
        :fieldClass "formField"}
       {:id "organization-email",
        :label {:fi "Organisaation sähköposti", :sv "Organisationens e-post"},
        :params {:size "small", :maxlength 80},
        :helpText {:fi "", :sv ""},
        :required true,
        :fieldType "emailField",
        :fieldClass "formField"}],
      :fieldType "fieldset",
      :fieldClass "wrapperElement"}
     {:id "business-id",
      :label {:fi "Y-tunnus", :sv "Företags- och organisationsnummer"},
      :params {:size "small", :maxlength 9},
      :helpText {:fi "", :sv ""},
      :required true,
      :fieldType "finnishBusinessIdField",
      :fieldClass "formField"}
     {:id "applicant-fieldset",
      :children
      [{:id "applicant-name",
        :label {:fi "Yhteyshenkilö", :sv "Kontaktperson"},
        :params {:size "large", :maxlength 80},
        :helpText
        {:fi "Yhteyshenkilöllä tarkoitetaan hankkeen vastuuhenkilöä hakijaorganisaatiossa.",
         :sv "Med kontaktperson avses den projektansvariga i sökandeorganisationen."},
        :required true,
        :fieldType "textField",
        :fieldClass "formField"}
       {:id "primary-email",
        :label {:fi "Sähköposti", :sv "E-post"},
        :params {:size "small", :maxlength 80},
        :helpText {:fi "", :sv ""},
        :required true,
        :fieldType "emailField",
        :fieldClass "formField"}],
      :fieldType "fieldset",
      :fieldClass "wrapperElement"}
     {:id "organization-postal-address",
      :label {:fi "Osoite", :sv "TODO: Adress"},
      :params {:size "medium", :maxlength 1000},
      :helpText {:fi "", :sv ""},
      :required true,
      :fieldType "textArea",
      :fieldClass "formField"}
     {:id "signature-fieldset",
      :children
      [{:id "signature",
        :label {:fi "Allekirjoitusoikeudellinen henkilö", :sv "Person med namnteckningsrätt"},
        :params {:size "large", :maxlength 80},
        :helpText {:fi "", :sv ""},
        :required true,
        :fieldType "textField",
        :fieldClass "formField"}
       {:id "signature-email",
        :label {:fi "Sähköposti", :sv "E-post"},
        :params {:size "small", :maxlength 80},
        :helpText {:fi "", :sv ""},
        :required true,
        :fieldType "emailField",
        :fieldClass "formField"}],
      :fieldType "fieldset",
      :fieldClass "wrapperElement"}
     {:id "bank-fieldset",
      :children
      [{:id "bank-iban",
        :label {:fi "Tilinumero IBAN-muodossa", :sv "Kontonummer i IBAN-format"},
        :params {:size "large", :maxlength 80},
        :helpText {:fi "", :sv ""},
        :required true,
        :fieldType "iban",
        :fieldClass "formField"}
       {:id "bank-bic",
        :label {:fi "Pankin BIC/SWIFT-koodi", :sv "Bankens BIC/SWIFT-kod"},
        :params {:size "small", :maxlength 80},
        :helpText {:fi "", :sv ""},
        :required true,
        :fieldType "bic",
        :fieldClass "formField"}],
      :fieldType "fieldset",
      :fieldClass "wrapperElement"}
     {:id "type-of-organization",
      :label {:fi "Oppilaitosmuoto", :sv "TODO: Oppilaitosmuoto"},
      :options
      [{:label {:fi "Kansanopisto", :sv "TODO: Kansanopisto"}, :value "kansanopisto"}
       {:label {:fi "Kesäyliopisto", :sv "TODO: Sommarskola"}, :value "kesäyliopisto"}],
      :helpText {:fi "", :sv ""},
      :required true,
      :fieldType "radioButton",
      :fieldClass "formField"}],
    :fieldType "theme",
    :fieldClass "wrapperElement"}
   {:id "financing-plan",
    :label {:fi "Rahoitussuunnitelma", :sv "Finansieringsplan"},
    :children
    [{:id "financing-plan-help",
      :text
      {:fi
       "Valtionavustuksen kokonaiskustannuksiin hyväksytään hankkeen toteuttamisesta aiheutuvat välittömät kustannukset sekä organisaation muista kustannuksista ne kustannuserät, jotka voidaan suoran dokumentoida aiheuttamisperiaatteen mukaisesti kirjata hankkeen menoksi kirjanpitoon hankkeen toteuttamisaikana. Vain todellisiin ja toteutuneisiin kustannuksiin perustuvat menot ovat hyväksyttäviä. Laskennallisilla ja prosentuaalisilla kustannuserillä ei ole suoraa aiheuttamisperiaatetta, joten niitä ei hyväksytä valtionavustushankkeen kustannukseksi. ",
       :sv
       "Till de totala kostnaderna för projektet godkänns de omedelbara kostnaderna för genomförandet av projektet och av de övriga kostnaderna de kostnadsposter som enligt direkt, dokumenterad upphovsprincip kan bokföras som utgifter för projektet under projekttiden. Endast utgifter som baserar sig på faktiska och förverkligade kostnader är godtagbara. Direkt upphovsprincip finns inte för kalkylerade och procentuella kostnadsposter, och sådana godkänns därför inte som kostnader för statsunderstödsprojektet."},
      :fieldType "p",
      :fieldClass "infoElement"}
     {:id "budget",
      :children
      [{:id "project-budget",
        :label {:fi "Hankkeen kustannusarvio", :sv "Projektkostnaderna"},
        :params
        {:sumRowLabel {:fi "Kustannukset yhteensä", :sv "Kostnader sammanlagt"},
         :columnTitles
         {:label {:fi "Menot", :sv "Kostnader"},
          :amount {:fi "Yhteensä", :sv "Totalt"},
          :description {:fi "Selite, lyhyt kuvaus", :sv "Förklaring, kort beskrivning"}},
         :showColumnTitles true},
        :children
        [{:id "project-costs-row",
          :label {:fi "Hankkeen kustannukset", :sv "TODO: Kostnaderna för projekt"},
          :params {:incrementsTotal true},
          :children
          [{:id "project-costs-row.description",
            :params {:size "small", :maxlength 80},
            :helpText {:fi "", :sv ""},
            :required false,
            :fieldType "textField",
            :fieldClass "formField",
            :initialValue {:fi "Tarkenna tarvittaessa", :sv "TODO: Tarkenna tarvittaessa"}}
           {:id "project-costs-row.amount",
            :params {:size "extra-extra-small", :maxlength 16},
            :helpText {:fi "", :sv ""},
            :required true,
            :fieldType "moneyField",
            :fieldClass "formField",
            :initialValue 0}],
          :fieldType "vaBudgetItemElement",
          :fieldClass "wrapperElement"}],
        :fieldType "vaSummingBudgetElement",
        :fieldClass "wrapperElement"}
       {:id "third-party-income",
        :label {:fi "Hankkeen rahoitus", :sv "Finansieringen av projektet"},
        :params
        {:sumRowLabel {:fi "Muu rahoitus yhteensä", :sv "Övriga kostnader sammanlagt"}, :showColumnTitles false},
        :children
        [{:id "eu-programs-income-row",
          :label {:fi "EU-ohjelmat", :sv "EU-program"},
          :params {:incrementsTotal false},
          :children
          [{:id "eu-programs-income-row.description",
            :params {:size "small", :maxlength 80},
            :helpText {:fi "", :sv ""},
            :required false,
            :fieldType "textField",
            :fieldClass "formField"}
           {:id "eu-programs-income-row.amount",
            :params {:size "extra-extra-small", :maxlength 16},
            :helpText {:fi "", :sv ""},
            :required true,
            :fieldType "moneyField",
            :fieldClass "formField",
            :initialValue 0}],
          :fieldType "vaBudgetItemElement",
          :fieldClass "wrapperElement"}
         {:id "other-public-financing-income-row",
          :label {:fi "Muu julkinen rahoitus", :sv "Annan offentlig finansiering"},
          :params {:incrementsTotal false},
          :children
          [{:id "other-public-financing-income-row.description",
            :params {:size "small", :maxlength 80},
            :helpText {:fi "", :sv ""},
            :required false,
            :fieldType "textField",
            :fieldClass "formField"}
           {:id "other-public-financing-income-row.amount",
            :params {:size "extra-extra-small", :maxlength 16},
            :helpText {:fi "", :sv ""},
            :required true,
            :fieldType "moneyField",
            :fieldClass "formField",
            :initialValue 0}],
          :fieldType "vaBudgetItemElement",
          :fieldClass "wrapperElement"}
         {:id "private-financing-income-row",
          :label {:fi "Yksityinen rahoitus", :sv "Privat finansiering"},
          :params {:incrementsTotal false},
          :children
          [{:id "private-financing-income-row.description",
            :params {:size "small", :maxlength 80},
            :helpText {:fi "", :sv ""},
            :required false,
            :fieldType "textField",
            :fieldClass "formField"}
           {:id "private-financing-income-row.amount",
            :params {:size "extra-extra-small", :maxlength 16},
            :helpText {:fi "", :sv ""},
            :required true,
            :fieldType "moneyField",
            :fieldClass "formField",
            :initialValue 0}],
          :fieldType "vaBudgetItemElement",
          :fieldClass "wrapperElement"}
         {:id "project-other-income-row",
          :label {:fi "Muut tulot", :sv "TODO: Andra inkomster"},
          :params {:incrementsTotal false},
          :children
          [{:id "project-other-income-row.description",
            :params {:size "small", :maxlength 80},
            :helpText {:fi "", :sv ""},
            :required false,
            :fieldType "textField",
            :fieldClass "formField"}
           {:id "project-other-income-row.amount",
            :params {:size "extra-extra-small", :maxlength 16},
            :helpText {:fi "", :sv ""},
            :required true,
            :fieldType "moneyField",
            :fieldClass "formField",
            :initialValue 0}],
          :fieldType "vaBudgetItemElement",
          :fieldClass "wrapperElement"}],
        :fieldType "vaSummingBudgetElement",
        :fieldClass "wrapperElement"}
       {:id "budget-summary",
        :params
        {:showColumnTitles false,
         :totalSumRowLabel {:fi "Hankkeen rahoitus yhteensä", :sv "Projektets finansiering sammanlagt"},
         :ophFinancingLabel
         {:fi "Opetushallitukselta haettava rahoitus", :sv "Finansiering som söks av Utbildningsstyrelsen"},
         :selfFinancingLabel {:fi "Omarahoitus", :sv "Egen finansiering"}},
        :children [],
        :fieldType "vaBudgetSummaryElement",
        :fieldClass "wrapperElement"}],
      :fieldType "vaBudget",
      :fieldClass "wrapperElement"}],
    :fieldType "theme",
    :fieldClass "wrapperElement"}),
  :rules ()},
 :hakemukset
 ({:version-date #inst "2018-01-11T13:43:11.457375000-00:00",
   :project-name "",
   :register-number "1/351/2018",
   :status-comment nil,
   :status-valiselvitys "missing",
   :organization-name "Hakija 1 fi",
   :user-key "09f2e7fe03a46de149bf9bb4a2e6fa2c32465df24fdc5d4b4a7616b555819645",
   :budget-total 4500,
   :user-last-name nil,
   :status "submitted",
   :language "fi",
   :id 1,
   :selvitys-email nil,
   :answers
   ({:key "primary-email", :value "username+con1@example.com", :fieldType "emailField"}
    {:key "language", :value "fi", :fieldType "radioButton"}
    {:key "project-costs-row.description", :value "Tarkenna tarvittaessa", :fieldType "textField"}
    {:key "project-costs-row.amount", :value "4500", :fieldType "moneyField"}
    {:key "eu-programs-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
    {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
    {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
    {:key "project-other-income-row.description", :value "", :fieldType "textField"}
    {:key "organization", :value "Hakija 1", :fieldType "textField"}
    {:key "organization-email", :value "username+org1@example.com", :fieldType "emailField"}
    {:key "bank-iban", :value "FI44 8571 1440 0073 18", :fieldType "iban"}
    {:key "business-id", :value "4580113-5", :fieldType "finnishBusinessIdField"}
    {:key "applicant-name", :value "Matti Virtanen", :fieldType "textField"}
    {:key "organization-postal-address", :value "Kujakatu 1", :fieldType "textArea"}
    {:key "signature", :value "Matti Virtanen", :fieldType "textField"}
    {:key "signature-email", :value "username+sig1@example.com", :fieldType "emailField"}
    {:key "bank-bic", :value "OKOASDFG", :fieldType "bic"}
    {:key "type-of-organization", :value "kansanopisto", :fieldType "radioButton"}),
   :user-first-name nil,
   :budget-oph-share 4050,
   :version 7,
   :arvio
   {:overridden-answers
    {:value
     [{:key "project-costs-row.description", :value "", :fieldType "textField"}
      {:key "project-costs-row.amount", :value "0", :fieldType "moneyField"}
      {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
      {:key "eu-programs-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "project-other-income-row.description", :value "", :fieldType "textField"}
      {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}]},
    :tags {:value []},
    :oppilaitokset {:names []},
    :seuranta-answers
    {:value
     [{:key "project-costs-row.description", :value "", :fieldType "textField"}
      {:key "project-costs-row.amount", :value "0", :fieldType "moneyField"}
      {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
      {:key "eu-programs-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "project-other-income-row.description", :value "", :fieldType "textField"}
      {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}]},
    :academysize 0,
    :roles {:evaluators []},
    :changelog (),
    :rahoitusalue nil,
    :perustelut nil,
    :useDetailedCosts false,
    :presentercomment nil,
    :status "accepted",
    :id 3,
    :presenter-role-id nil,
    :summary-comment nil,
    :talousarviotili nil,
    :costsGranted 4450,
    :budget-granted 4005},
   :status-loppuselvitys "missing"}
  {:version-date #inst "2018-01-24T09:58:47.379780000-00:00",
   :project-name "",
   :register-number "2/351/2018",
   :status-comment nil,
   :status-valiselvitys "missing",
   :organization-name "Hakija 2 sv",
   :user-key "f45acfc5b87895f042661185d70636f2c1202804d0933491cf64fc3489988df3",
   :budget-total 35433,
   :user-last-name nil,
   :status "submitted",
   :language "sv",
   :id 2,
   :selvitys-email nil,
   :answers
   ({:key "primary-email", :value "username+sig2@example.com", :fieldType "emailField"}
    {:key "language", :value "sv", :fieldType "radioButton"}
    {:key "project-costs-row.description", :value "TODO: Tarkenna tarvittaessa", :fieldType "textField"}
    {:key "project-costs-row.amount", :value "35433", :fieldType "moneyField"}
    {:key "eu-programs-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
    {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
    {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
    {:key "project-other-income-row.description", :value "", :fieldType "textField"}
    {:key "organization", :value "Hakija 2", :fieldType "textField"}
    {:key "organization-email", :value "username+org2@example.com", :fieldType "emailField"}
    {:key "business-id", :value "5275506-9", :fieldType "finnishBusinessIdField"}
    {:key "applicant-name", :value "Pär Matsby", :fieldType "textField"}
    {:key "organization-postal-address", :value "Kujakatu 2", :fieldType "textArea"}
    {:key "signature", :value "Pär Matsby", :fieldType "textField"}
    {:key "signature-email", :value "username+con2@example.com", :fieldType "emailField"}
    {:key "bank-iban", :value "FI24 3469 0460 0017 69", :fieldType "iban"}
    {:key "bank-bic", :value "OKASDFGH", :fieldType "bic"}
    {:key "type-of-organization", :value "kesäyliopisto", :fieldType "radioButton"}),
   :user-first-name nil,
   :budget-oph-share 31889,
   :version 5,
   :arvio
   {:overridden-answers
    {:value
     [{:key "project-costs-row.description", :value "", :fieldType "textField"}
      {:key "project-costs-row.amount", :value "0", :fieldType "moneyField"}
      {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
      {:key "eu-programs-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "project-other-income-row.description", :value "", :fieldType "textField"}
      {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}]},
    :tags {:value []},
    :oppilaitokset {:names []},
    :seuranta-answers
    {:value
     [{:key "project-costs-row.description", :value "", :fieldType "textField"}
      {:key "project-costs-row.amount", :value "0", :fieldType "moneyField"}
      {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
      {:key "eu-programs-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "project-other-income-row.description", :value "", :fieldType "textField"}
      {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}]},
    :academysize 0,
    :roles {:evaluators []},
    :changelog (),
    :rahoitusalue nil,
    :perustelut nil,
    :useDetailedCosts false,
    :presentercomment nil,
    :status "accepted",
    :id 10,
    :presenter-role-id nil,
    :summary-comment nil,
    :talousarviotili nil,
    :costsGranted 35400,
    :budget-granted 31860},
   :status-loppuselvitys "missing"},
  {:version-date #inst "2018-01-21T13:52:04.473973000-00:00",
   :project-name "",
   :register-number "3/351/2018",
   :status-comment nil,
   :status-valiselvitys "missing",
   :organization-name "Hakija 3 fi",
   :user-key "fc7b1e269ad5dfc7e967ee1a605d0a496b099714f3862d22f66055e828c473a0",
   :budget-total 3059,
   :user-last-name nil,
   :status "submitted",
   :language "fi",
   :id 3,
   :selvitys-email nil,
   :answers
   ({:key "primary-email", :value "username+con3@example.com", :fieldType "emailField"}
    {:key "language", :value "fi", :fieldType "radioButton"}
    {:key "project-costs-row.description", :value "Tarkenna tarvittaessa", :fieldType "textField"}
    {:key "project-costs-row.amount", :value "3459", :fieldType "moneyField"}
    {:key "eu-programs-income-row.amount", :value "400", :fieldType "moneyField"}
    {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}
    {:key "eu-programs-income-row.description", :value "asd", :fieldType "textField"}
    {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
    {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
    {:key "project-other-income-row.description", :value "", :fieldType "textField"}
    {:key "organization", :value "Hakija 3", :fieldType "textField"}
    {:key "organization-email", :value "username+org3@example.com", :fieldType "emailField"}
    {:key "business-id", :value "5838851-1", :fieldType "finnishBusinessIdField"}
    {:key "applicant-name", :value "Maija Pulkkinen", :fieldType "textField"}
    {:key "organization-postal-address", :value "Kujakatu 3", :fieldType "textArea"}
    {:key "signature", :value "Maija Pulkkinen", :fieldType "textField"}
    {:key "signature-email", :value "username+sig3@example.com", :fieldType "emailField"}
    {:key "bank-iban", :value "FI77 4954 7376 0007 93", :fieldType "iban"}
    {:key "bank-bic", :value "OKOASDFG", :fieldType "bic"}
    {:key "type-of-organization", :value "kansanopisto", :fieldType "radioButton"}),
   :user-first-name nil,
   :budget-oph-share 2753,
   :version 8,
   :arvio
   {:overridden-answers
    {:value
     [{:key "project-costs-row.description", :value "ok!", :fieldType "textField"}
      {:key "project-costs-row.amount", :value "3409", :fieldType "moneyField"}
      {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
      {:key "eu-programs-income-row.amount", :value "400", :fieldType "moneyField"}
      {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "project-other-income-row.description", :value "", :fieldType "textField"}
      {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}]},
    :tags {:value []},
    :oppilaitokset {:names []},
    :seuranta-answers
    {:value
     [{:key "project-costs-row.description", :value "", :fieldType "textField"}
      {:key "project-costs-row.amount", :value "0", :fieldType "moneyField"}
      {:key "eu-programs-income-row.description", :value "", :fieldType "textField"}
      {:key "eu-programs-income-row.amount", :value "400", :fieldType "moneyField"}
      {:key "other-public-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "other-public-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "private-financing-income-row.description", :value "", :fieldType "textField"}
      {:key "private-financing-income-row.amount", :value "0", :fieldType "moneyField"}
      {:key "project-other-income-row.description", :value "", :fieldType "textField"}
      {:key "project-other-income-row.amount", :value "0", :fieldType "moneyField"}]},
    :academysize 0,
    :roles {:evaluators []},
    :changelog (),
    :rahoitusalue nil,
    :perustelut "Hakija ei pyynnöstä huolimatta ole toimittanut edellytettyjä liitteitä.",
    :useDetailedCosts true,
    :presentercomment nil,
    :status "rejected",
    :id 5,
    :presenter-role-id nil,
    :summary-comment nil,
    :talousarviotili nil,
    :costsGranted 0,
    :budget-granted 0},
   :status-loppuselvitys "missing"}),
 :attachments {},
 :budget-total-sum 131201,
 :budget-oph-share-sum 118079,
 :budget-granted-sum 35865}
