.muutoshakukelpoisuus-container {
  position: sticky;
  top: 130px;
  z-index: 100;

  background-color: #fffae2;

  display: flex;
  flex-direction: column;

  color: #956a14;
  box-sizing: border-box;
  border: 1px solid #deb335;
  border-radius: 4px;
}

.muutoshakukelpoisuus-warning {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 13px;

  box-shadow: 0 0 0 1px #deb335;
  border-radius: 4px;
}

.muutoshakukelpoisuus-warning-icon {
  position: relative;
  top: 2px;
  vertical-align: middle;
  display: inline-block;
}

.muutoshakukelpoisuus-warning-text {
  vertical-align: middle;
  display: inline-block;
  margin-left: 8px;
  font-weight: bold;
}

.muutoshakukelpoisuus-warning-button {
  cursor: pointer;
}

.muutoshakukelpoisuus-warning-button-text {
  vertical-align: middle;
  display: inline-block;
  text-decoration: underline;
}

.muutoshakukelpoisuus-warning-arrow {
  vertical-align: middle;
  display: inline-block;
  margin-left: 13px;
}

.muutoshakukelpoisuus-dropdown {
  padding: 9px 0;
}

.muutoshakukelpoisuus-dropdown-item {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;

  box-sizing: border-box;
  border: 1px solid #deb335;
  border-radius: 4px;

  margin: 8px;
}

.muutoshakukelpoisuus-dropdown-item-brown-box {
  margin: 6px 13px;
  padding: 6px 0;
  border-radius: 4px;
  min-width: 180px;
  background-color: rgba(222, 179, 53, 0.1);
}

.muutoshakukelpoisuus-dropdown-item-brown-box > * {
  margin: 0 10px;
}
