@import "npm://soresu-form/web/form/style/variables.less";

.change-request {
  border: dotted @dark-gray;
  border-width: 0 0 1px 0;
  padding: 10px 0;
  margin-bottom: 10px;
  .change-request-title {
    font-weight: 600;
  }
  .change-request-text {
    font-style: italic;
    &:before {
      content: '"';
    }
    &:after {
      content: '"';
    }
  }
}

.va-trainee-day-calculator {
  th {
    font-weight: normal;
    padding-right: 4px;
    color: @form-label-black;
  }
  label.total {
    display: inline;
  }
}

.va-budget {
  table.summing-table {
    margin-top: 13px;
    caption {
      text-align: left;
      text-transform: uppercase;
      margin: 8px 0 8px 0;
    }
    thead {
      tr {
        // tr cannot have margin
        border-top: 10px transparent solid;
        border-bottom: 8px transparent solid;
      }
    }
    tbody {
      td {
        vertical-align: top;
        padding-bottom: 2px;
      }
    }
    colgroup {
      .label-column {
        width: 415px;
      }
      .description-column {
        width: 267px;
      }
      .amount-column {
        width: 100px;
      }
    }
    tfoot {
      border-top: 1px solid @light-gray;
      font-weight: bold;
      td {
        padding-top: 5px;
      }
    }
  }

  table.budget-summary {
    margin-top: 26px;

    colgroup {
      .label-column {
        width: 682px;
      }
      .amount-column {
        width: 100px;
      }
    }

    tr.grand-total {
      border-bottom: 1px solid @light-gray;
      font-weight: bold;
      height: 40px;
      td {
        padding-top: 5px;
      }
    }

    tr {
      height: 50px;
    }
  }

  table.summing-table, table.budget-summary {
    width: @section-width - 18px;
    text-align: left;
    caption {
      font-size: 18px;
    }
    tbody tr:last-child {
      td {
        padding-bottom: 10px;
      }
    }
    .label-column {
      color: @form-label-black;
      &.disabled {
        color: @darker-gray
      }
    }
    .soresu-money-field {
      input[type=text] {
        margin: 0 6px 4px 0;
      }
    }
    .soresu-text-field {
      input[type=text] {
        margin: 0 4px 4px 0;
      }
    }
    .soresu-text-area {
      textarea {
        margin: 0;
        width: ceil(@section-width / 2) - 19px;
        height: 24px;
      }
      .length-left {
          display: none;
      }
    }
    .amount-column {
      text-align: right;
    }
    span.money, span.soresu-money {
      margin-right: 10px;
    }
    .money {
      &:not(.error-message).sum:after {
        content: "\00A0€";
      }
      &.error.sum {
        color: @bright-red;
      }
    }
  }
}

.soresu-growing-fieldset {
  ol li.va-big-fieldset {
    margin: 20px 0 0 -90px;
  }

  .va-big-fieldset {
    &.disabled {
      color: @darker-gray;
    }

    div.fieldset-elements {
      float: left;
      border-left: 1px solid @dark-gray;
      border-right: 1px solid @dark-gray;
      padding: 0 10px 0 21px;
      margin: 0 10px 40px 10px;

      input[type=text], input[type=email] {
        margin: 5px 10px 10px 0;
      }
    }

    div.fieldset-control {
      padding-top: 20px;
      overflow: hidden;
    }
  }
}

.soresu-preview {
  .soresu-preview-growing-fieldset {
    ol li.va-big-fieldset {
      margin: 0 0 40px -26px;
    }

    .va-big-fieldset {
      div.fieldset-elements {
        border-left: 1px solid @dark-gray;
        padding: 0 0 0 21px;
        margin: 0 0 0 20px;
      }
    }
  }
  .va-budget {
    .soresu-value {
      font-size: 16px;
    }
  }
}

.va-register-number {
  margin-top: 5px;
  margin-right: 5px;
  float: right;

  .title {
    margin-right: 5px;
    font-weight: bold;
  }

  .value {
  }
}
