@import "~va-common/web/va/style/soresu-va.less";
@import "topbar";

.muutoshakemus__section-checkbox-row {
  display: flex;
  margin-bottom: 1rem;

  input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  label {
    padding-left: 9px;
    cursor: pointer;
  }
}

.muutoshakemus__checked-form {
  margin-left: 2rem;
}

.muutoshakemus__input-error {
  border: 1px solid @bright-red !important;
}

.muutoshakemus__error-message {
  font-size: 0.8rem;
  color: @bright-red;
  height: 0.8rem;
}

.muutoshakemus__page-title {
  display: flex;
  justify-content: space-between;
}

.muutoshakemus__title {
  text-transform: uppercase;
  margin: 0 0 1rem !important;
}

.muutoshakemus__section {
  margin-bottom: 2rem;
}

.muutoshakemus__register-number {
  font-weight: 700;
}

.muutoshakemus__form {
  padding-left: 15%;
}

.muutoshakemus__form-row {
  display: flex;
  margin: 1rem 0;
}

.muutoshakemus__form-cell {
  display: flex;
  flex-direction: column;
  margin-right: 5vw;
}

#muutoshakemus__contact-person {
  min-width: 240px;
}

#muutoshakemus__email {
  min-width: 340px;
}

.muutoshakemus__application-edit-cell {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 5vw;

  textarea {
    width: 700px;
  }

  table {
    width: 500px;
    text-align: left;
    font-weight: 400;
    margin-bottom: 2rem;
    border: 1px;

    th,
    td {
      padding: 0.5rem 2rem 0.5rem 0;
    }

    td:first-child {
      border-right: 2px solid @darker-gray;
    }

    th:not(:first-child),
    td:not(:first-child) {
      padding-left: 2rem;
    }

    .muutoshakemus__current-amount {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .muutoshakemus__currency-input {
      width: 100px;
    }

    thead {
      text-transform: uppercase;
      padding-bottom: 1rem;

      th {
        font-weight: 400;
      }
    }

    tfoot {
      padding-top: 1rem;
      border-top: 2px solid @darker-gray;

      th {
        padding-right: 2rem;
      }
    }
  }
}

.muutoshakemus__application-content {
  display: flex;
  width: 500px;
  margin-bottom: 1rem;
  text-transform: uppercase;

  div.muutoshakemus__content-left {
    padding-right: 2rem;
    border-right: 2px solid @darker-gray;
  }

  div.muutoshakemus__content-right {
    padding-left: 2rem;
  }

  div:first-child {
    margin-bottom: 1rem;
  }
}

.va-old-browser-warning {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index: 101;
  background-color: @yellow;

  .soresu-remove {
    position: fixed;
    right: 5px;
    top: 4px;
  }

  .text {
    font-size: 13px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 4px;
  }

  &.hidden {
    display: none;
  }
}

#container {
  @media print {
    margin-top: 20px;
    max-width: none;
  }
}

.container-section {
  margin-top: 130px;
  margin-left: 100px;
}

.container-section .checkbox-label {
  margin-right: 10px;
  margin-left: 5px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.container-section .disabled {
  opacity: 0.4;
  pointer-events: none;
}

.refuse-comment label {
  display: block;
}

#debug-api-response {
  display: inline-flex;
  margin-top: 70px;
}

#top-container {
  display: flex;
}

div.muutospyynto-button-container {
  display: flex;
  align-items: center;

  line-height: 21px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.01em;
}

div.notification-container {
  color: transparent;

  div {
    display: flex;
    margin-left: 18px;
    height: 45px;
    width: 142px;

    visibility: visible;
    opacity: 1;
    &.auto-hide {
      visibility: hidden;
      opacity: 0;
      transition: opacity 1s linear 5s, visibility 1s linear 5s;
    }

    &.success {
      color: @mantis-green;
    }
    &.error {
      color: @bright-red;
    }
  }
}

#send-muutospyynto-button {
  border: none;
  width: 198px;
  height: 43px;

  background: @mantis-green;
  color: #ffffff;

  &:disabled {
    background: @silver;
  }
}
