@import "~va-common/web/va/style/soresu-va.less";
@import "topbar";

.contact-person-edit-title {
  display: flex;
  justify-content: space-between;
}

.contact-person-edit-body-contact-person-row {
  display: flex;
  justify-content: space-between;
}

.va-old-browser-warning {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index: 101;
  background-color: @yellow;

  .soresu-remove {
    position: fixed;
    right: 5px;
    top: 4px;
  }

  .text {
    font-size: 13px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 4px;
  }

  &.hidden {
    display: none;
  }
}

#container {
  @media print {
    margin-top: 20px;
    max-width: none;
  }
}

.container-section {
  margin-top: 130px;
  margin-left: 100px;
}

.container-section .checkbox-label {
  margin-right: 10px;
  margin-left: 5px;
}

.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

.container-section .disabled {
  opacity: 0.4;
  pointer-events: none;
}

.refuse-comment label {
  display: block;
}
