@import "~va-common/web/va/style/soresu-va.less";
@import "topbar";

.va-old-browser-warning {
  position: fixed;
  top: 0;
  left: 0;
  height: 30px;
  width: 100%;
  z-index: 101;
  background-color: @yellow;

  .soresu-remove {
    position: fixed;
    right: 5px;
    top: 4px;
  }

  .text {
    font-size: 13px;
    display: inline-block;
    margin-left: 100px;
    margin-top: 4px;
  }

  &.hidden {
    display: none;
  }
}

#container {
  @media print {
    margin-top: 20px;
    max-width: none;
  }
}
