@import "../../../../soresu-form/web/form/style/variables.less";

#topbar {
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  z-index: 100;

  #logo {
    margin: 20px 70px 0 20px;
    float: left;
  }

  h1 {
    margin: 39px 30px 0 0;
    float: left;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
    display: block;
    text-align: right;
    max-width: 300px;
  }

  #form-controls {
    margin-top: 28px;
    float: left;
    border-left: 1px solid @light-gray;
    height: 58px;
    padding-left: 20px;

    .status {
      float: left;
      min-width: 180px;
      margin-top: 15px;
      padding-right: 20px;
      font-size: 13px;
    }

    #form-error-summary {
      font-size: 13px;
      padding-left: 200px;
      clear: left;
    }

    button {
      margin-top: 5px;
    }
  }

  #server-info {
    clear: both;
    margin-left: 360px;
    color: @bright-red;
    .environment {
      text-transform: uppercase;
    }
    .environment:after {
      content: " ";
    }
  }
}

#top-container {
  width: @form-width;
  margin-left: auto;
  margin-right: auto;
}
