@import "npm://soresu-form/web/form/style/variables.less";

#topbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  z-index: 100;

  #logo {
    display: inline-block;
    vertical-align: top;
    margin: 20px 70px 20px 20px;

    @media print {
      margin-top: 0;
    }
  }

  .topbar-right {
    display: inline-block;
    vertical-align: top;
    margin: 25px 0 8px 0;

    @media print {
      margin-top: 5px;
      width: ~"calc(100% - 330px)";
    }
  }

  h1 {
    display: inline-block;
    vertical-align: middle;
    width: 110px;
    margin-right: 30px;
    font-size: 22px;
    font-weight: normal;
    text-transform: uppercase;
  }

  #form-controls {
    display: inline-block;
    vertical-align: middle;
    border-left: 1px solid @light-gray;
    padding-left: 20px;

    .form-control, #toggle-language, #preview-button {
      display: inline-block;
      vertical-align: middle;

      @media print {
        display: none;
      }
    }

    button {
      margin-top: 5px;

      @media print {
        display: none;
      }
    }

    .form-control-button-tooltip {
      top: ~"calc(100% + 6px)";
      left: 50%;
      margin-left: -316px;
    }

    @media print {
      border: none;
      text-align: right;
      width: ~"calc(100% - 160px)";
    }
  }

  #form-save-status {
    display: inline-block;
    vertical-align: middle;
    width: 180px;
    height: 42px;
    margin-right: 20px;

    .messages {
      font-size: 13px;
      color: @form-label-black;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .important-info {
    display: inline-block;
    vertical-align: top;
    color: @bright-red;
    width: 340px;
    margin-right: 20px;

    @media print {
      display: none;
    }
  }

  #environment-info {
    text-transform: uppercase;
    margin-right: 10px;
  }

  #form-error-summary {
    display: inline-block;
    vertical-align: baseline;
    font-size: 13px;
    margin-right: 20px;

    .validation-errors-summary {
      margin-right: 10px;
      position: relative;

      &:before {
        position: absolute;
        right: -20px;
        content: '|';
        color: @light-gray;
      }
    }
  }

  .preview-link {
    display: inline-block;
    vertical-align: baseline;
    font-size: 13px;
  }

  @media print {
    position: relative;
    box-shadow: none;
  }
}

#top-container {
  width: @form-width;
  margin-left: auto;
  margin-right: auto;

  @media print {
    width: 100%;
  }
}
