{:environment     "aws-dev"
 :server          {:hakija-host     "*"
                   :virkailija-host "*"
                   :url             {:fi "https://dev.valtionavustukset.oph.fi/"
                                     :sv "https://dev.statsunderstod.oph.fi/"}
                   :virkailija-url  "https://dev.virkailija.valtionavustukset.oph.fi"}
 :email           {:enabled?                     true
                   :from                         {:fi "no-reply@dev.valtionavustukset.oph.fi"
                                                  :sv "no-reply@dev.statsunderstod.oph.fi"}
                   :sender                       "no-reply@dev.valtionavustukset.oph.fi"
                   :to-taloustarkastaja          ["taloustarkastus@localhost"]
                   :to-palkeet                   ["palkeet@localhost"]
                   :to-palkeet-ja-talouspalvelut ["palkeet@localhost" "talouspalvelut@localhost"]}
 :rondo-scheduler {:enabled?                 false
                   :scheduling               "0 00 04 ? * *"
                   :strict-host-key-checking :yes}
 :notifications   {:asiatarkastus                   {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :taloustarkastus                 {:enabled? false
                                                     :schedule "0 0 7 ? * 2"}
                   :valiselvitys                    {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :loppuselvitys-palauttamatta     {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :valiselvitys-palauttamatta      {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :laheta-valiselvityspyynnot      {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :laheta-loppuselvityspyynnot     {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :hakuaika-paattymassa            {:enabled? false
                                                     :schedule "0 0 14 ? * 1,2,3,4,5"}
                   :hakuaika-paattynyt              {:enabled? false
                                                     :schedule "0 0 7 ? * *"}
                   :muutoshakemuksia-kasittelematta {:enabled? false
                                                     :schedule "0 0 14 ? * MON-FRI"}}
 :payments        {:enabled? false :delete-payments? false}
 }
