{:environment              "local"
 :server                                      {:allow-db-clear?         true
                                               :enable-access-log?      false
                                               :enable-hsts?            false
                                               :enable-csp?             false
                                               :host                    "hakija"
                                               :url                     {:fi "http://va:8080/"
                                                                         :sv "http://va:8080/"}

                                               :without-authentication? true
                                               :require-https?          false
                                               :virkailija-url          "http://va:8081"
                                               :payment-service-sftp    {:enabled?         true
                                                                         :timeout          60000
                                                                         :host-ip          "maksatuspalvelu"
                                                                         :port             22
                                                                         :local-path       "/tmp/"
                                                                         :remote_path      "./to_handi/va/"
                                                                         :remote_path_from "./from_handi/va/"
                                                                         :username         "demo"
                                                                         :password         "pass"}
                                               }
 :api                                         {:restricted-routes? false}
 :db                                          {:database-name     "va-dev"
                                               :server-name       "va-postgres"
                                               :maximum-pool-size 40}
 :nrepl-enabled?                              true
 :email                                       {:enabled? true
                                               :host     "fakesmtp"
                                               :port     25}
 :payments                                    {:enabled?         true
                                               :delete-payments? true}

 :va-users                                    {:use-cache? false}

 :dont-send-loppuselvityspyynto-to-virkailija {:enabled? true}

 :test-apis                                   {:enabled? true}
 :applications-ui                             {:enabled? true}
 :officer-edit-jwt-secret                     "playwright-test-secret"}
