{:environment              "local"
 :server                                      {:allow-db-clear?         true
                                               :enable-access-log?      false
                                               :enable-hsts?            false
                                               :enable-csp?             false
                                               :require-https?          false
                                               :virkailija-url          "http://127.0.0.1:8081"
                                               :without-authentication? true
                                               :url                     {:fi "http://127.0.0.1:8080/"
                                                                         :sv "http://127.0.0.1:8080/"}
                                               :payment-service-sftp    {:enabled?         true
                                                                         :timeout          60000
                                                                         :host-ip          "maksatuspalvelu"
                                                                         :strict-host-key-checking :yes
                                                                         :port             22
                                                                         :local-path       "/tmp/"
                                                                         :remote_path      "./to_handi/va/"
                                                                         :remote_path_from "./from_handi/va/"
                                                                         :username         "demo"
                                                                         :password         "pass"}}

 :api                                         {:restricted-routes? false}
 :db                                          {:database-name      "va-dev"
                                               :server-name        "va-postgres"
                                               :port-number        5432
                                               :maximum-pool-size  40}
 :nrepl-enabled?                              true
 :email                                       {:enabled? true
                                               :host     "fakesmtp"
                                               :port     25}
 :payments                                    {:enabled?         true
                                               :delete-payments? true}
 :applications-ui                             {:enabled? true}
 :dont-send-loppuselvityspyynto-to-virkailija {:enabled? true}
 :test-apis                                   {:enabled? true}
 :officer-edit-jwt-secret                     "playwright-test-secret"}
