Host oph-va-app-prod01 oph-va-app-test01 oph-va-ci-test01 oph-va-lb-prod01
  HostName %h.csc.fi
  CanonicalizeHostname yes
  CanonicalizeFallbackLocal no

Host oph-va-ci-test01.csc.fi
  LocalForward 8000 localhost:8000

Host oph-va-app-test01.csc.fi
  LocalForward 30012 127.0.0.1:5432

Host oph-va-app-prod01.csc.fi
  LocalForward 30022 127.0.0.1:5432
  LocalForward 30023 localhost:10876
  LocalForward 30024 localhost:11322

Host 86.50.28.* oph-va-*.csc.fi
  StrictHostKeyChecking no
  UserKnownHostsFile /dev/null
