Host 192.168.1.* 86.50.168.174
   StrictHostKeyChecking no
   UserKnownHostsFile /dev/null
   User cloud-user
   ProxyCommand ssh cloud-user@86.50.168.174 nc %h %p

Host 86.50.28.* oph-va-*.csc.fi
   StrictHostKeyChecking no
   UserKnownHostsFile /dev/null
   ProxyCommand ssh ssh.reaktor.fi nc %h %p
