{:closure-defines
 {"va_payments_ui.connection.backend_url"
  "http://valtionavustukset.aws.opintopolku.fi"
  "va_payments_ui.connection.service"
  "https://testi.virkailija.valtionavustukset.oph.fi"
  "va_payments_ui.connection.login_url"
  "https://testi.virkailija.opintopolku.fi/cas/login"}}

