{:asset-path "/js/out"
 :backend-url "https://testi.virkailija.valtionavustukset.oph.fi"
 :service "https://testi.virkailija.valtionavustukset.oph.fi/login/cas"
 :login-url "https://testi.virkailija.opintopolku.fi/cas/login"}
