@form-width: 1200px;

// Colors
@lightest-gray: #fafafa;
@light-gray: #e6e6e6;
@dark-gray: #999290;
@darker-gray: #807a78;
@light-green: #73ba21;
@dark-green: #00973a;
@text-black: #1a1919;
@form-label-black: #4a4a4a;
@light-blue: #7ba9c0;
@dark-blue: #4194bf;
@bright-red: #c9302c;

.ease-in-out(@seconds) {
  -webkit-transition: all @seconds ease-in-out;
  -moz-transition: all @seconds ease-in-out;
  -ms-transition: all @seconds ease-in-out;
  -o-transition: all @seconds ease-in-out;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @lightest-gray;
  color: @text-black;
  font-size: 16px;
}

#top-container {
  width: @form-width;
  margin-left: auto;
  margin-right: auto;
}

#topbar {
  width: 100%;
  height: 120px;
  background-color: #fff;
  position: fixed;
  top: 0;
  border-bottom: solid @light-gray;

  #logo {
    margin-top: 20px;
    float: left;
  }

  h1 {
    margin-left: 100px;
    margin-right: 10px;
    margin-top: 39px;
    float: left;
    font-size: 22px;
    text-transform: uppercase;
  }

  #form-controls {
    margin-top: 28px;
    float: left;
    border-left: solid;
    border-width: 1px;
    border-color: @light-gray;
    height: 58px;
    padding-left: 20px;
  }

  #form-controls button {
    margin-top: 5px;
  }
}

button {
  color: #fff;
  background-color: @light-green;
  border-width: 0px;
  margin: 4px 20px 4px 0px;
  padding: 8px 15px;
  float: left;
  font-size: 18px;
  font-weight: 300;
}

button:disabled{
  background-color: @light-gray;
}

#container {
  width: @form-width;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;

  input[type=text], textarea {
    margin: 5px 0 20px 0;
  }

  div.error {
    margin: 14px 0 0 10px;
    display: inline;
  }

  ul {
    width: 663px;
  }

  section.theme {
    margin: 25px 0 0 0;
    padding-top: 25px;
    border-top: 1px solid @light-gray;

    h2 {
      color: @darker-gray;
      font-weight: 300;
      font-size: 18px;
      text-transform: uppercase;
      float: left;
    }

    > div {
      margin: 15px 0 0 250px;
    }
  }
}

h1 {
  font-weight: 300;
  font-size: 24px;
}

ul {
  margin: 10px 0 40px -40px;
  list-style: none;
  display: table;

  li {
    display: table-row;
  }

  li:before {
    color: @light-green;
    content:"•";
    font-size: 14px;
    padding-right: 10px;
    display: table-cell;
  }
}

// Info elements
.accordion {
  // TODO: Fix transitions.
  position: relative;
  &.closed {
    transition: all 0.5s ease-in-out;
    height: 0;
  }
  &.open {
    transition: all 0.5s ease-in-out;
    height: 100%;
  }
  &.closed li {
    transition: all 0.5s ease-in-out;
    opacity: 0;
  }
  &.open li {
    transition: all 0.5s ease-in-out;
    opacity: 1.0;
  }
}

.accordion-title {
  color: @dark-blue;

  &.closed:after {
    content: " \2304";
  }

  &.open:after {
    position: relative;
    top: 3px;
    content: " \2303";
  }
}

//Form elements
.required:after {
  content: " *";
}

.error {
  color: @bright-red;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  box-shadow: 0 0 5px rgba(97, 186, 233, 1);
  outline: 1px solid @light-blue;
}

input,
select,
textarea,
button {
  .ease-in-out(0.30s);
  outline: none;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type=text],
textarea {
  font-size: 18px;
  border: 1px solid @dark-gray;
  padding: 8px;
  background-color: #fff;
}

label {
  color: @form-label-black;
  display: block;
  margin: 0 0 8px 0;
}

.preview {
  label {
    font-weight: 600;
    display: block;
  }
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  display: inline-block;
  color: #000;
  margin: 4px 3px;
  padding: 12px 30px;
  background-color: #fff;
  border: solid 1px @dark-gray;
}

input[type=radio]:checked + label {
  background: #fff url('img/checkmark.png') no-repeat 10px 19px;
  margin: 0;
  border: solid 4px @light-green;
}
