@form-width: 1200px;
@border-color: #d9d9d9;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ededed;
}

#logo {
  margin-top: 20px;
  margin-left: 100px;
  height: 70px;
  width: 271px;
  float: left;
  background-image: url("img/opetushallitus.gif");
}

#topbar {
  width: 100%;
  height: 120px;
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: solid @border-color;

  h1 {
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    left: 250px;
  }
}

#container {
  width: @form-width;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}

.required:after {
  content: " *";
}

label {
  color: #747474;
}

input[type=radio] {
  margin: 0 7px 5px 15px;
}

.preview {
  label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

input[type=radio] {
  display: none;
  margin: 10px;
}

input[type=radio] + label {
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  margin: 4px 3px 4px 3px;
  padding: 12px 20px 12px 35px;
  background-color: #f4f4f4;
  border: solid 1px #d9ceca;
}

input[type=radio]:checked + label {
  @checkmark-width: 20px;
  &:before {
    color: #73ba21;
    content: "\2713";
    display: inline-block;
    width: @checkmark-width;
  }
  margin: 0;
  padding: 12px 20px 12px 15px;
  background-image: none;
  border: solid 4px #73ba21;
}