@form-width: 1200px;
@border-color-light: #e6e6e6;
@border-color-darker: #999290;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ededed;
  color: #1A1919;
  font-size: 16px;
}

#top-container {
  width: @form-width;
  margin-left: auto;
  margin-right: auto;
}

#topbar {
  width: 100%;
  height: 120px;
  background-color: white;
  position: fixed;
  top: 0;
  border-bottom: solid @border-color-light;

  #logo {
    margin-top: 20px;
    float: left;
    height: 70px;
    width: 271px;
    background-image: url("img/opetushallitus.gif");
  }

  h1 {
    margin-left: 100px;
    margin-top: 40px;
    float: left;
    font-size: 22px;
    text-transform: uppercase;
  }
}

#container {
  width: @form-width;
  margin-top: 140px;
  margin-left: auto;
  margin-right: auto;
}

.required:after {
  content: " *";
}

h1 {
  font-weight: 300;
  font-size: 24px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 2px solid #00973a;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type=text],
textarea {
  font-size: 18px;
  border: 1px solid  @border-color-darker;
  padding: 8px;
  background-color: #fff;
}

label {
  color: #4A4A4A;
  display: block;
  margin: 20px 0 8px 0;
}

input[type=radio] {
  margin: 0 7px 5px 15px;
}

.preview {
  label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
  }
}

input[type=radio] {
  display: none;
  margin: 10px;
}

input[type=radio] + label {
  color: #000;
  text-transform: uppercase;
  display: inline-block;
  margin: 4px 3px 4px 3px;
  padding: 12px 35px 12px 35px;
  background-color: #fff;
  border: solid 1px @border-color-darker;
}

input[type=radio]:checked + label {
  @checkmark-width: 20px;
  &:before {
    color: #73ba21;
    content: "\2713";
    display: inline-block;
    width: @checkmark-width;
  }
  margin: 0;
  padding: 12px 35px 12px 15px;
  background-image: none;
  border: solid 4px #73ba21;
}