#container {
  width: 500px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

#container h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 13px;
}

#container label {
  padding-top: 10px;
  display: inline-block;
  width: 100%;
  height: 20px;
}

#container .row {
  width: 500px;
  margin-bottom: 7px;
}

#container input {
  background-color: white;
  border: 1px solid #a49e9c;
  padding: 3px;
  display: inline-block;
  width: 200px;
  height: 30px;
}

#container button {
  margin-top: 25px;
  display: inline-block;
  height: 45px;
  width: 210px;
}
