#@IgnoreInspection BashAddShebang

port = {{ pg_12_port }}

log_statement = all
log_duration = on

wal_level = archive
archive_mode = on
archive_command = '{{ postgresql_12_backup_local_dir }}/bin/archive_wal.sh "%p" "%f" main'
