body {  font: 12px 'Open Sans', sans-serif;; margin: 2em 1em;}
@media print {
  body {margin: 0;}
}
header { font-size: 15px; padding-bottom: 30px; border-bottom: 1px solid #D9D9D9; text-transform: uppercase; display: flex; justify-content: space-between; align-items: flex-end;}
header img { position: relative; top: 10px; }
header div { }
.section { overflow: hidden; border-bottom: 1px solid #D9D9D9; padding: 20px 0}
h2 {width: 20%; float: left; margin:0; font-weight: normal; font-size: 13px; text-transform: uppercase;}
.content { width: 80%; float: left}
p {margin-top: 0;}
