@import "~soresu-form/web/form/style/variables.less";

.muutoshakemus__header {
  color: #000;
  font-weight: 700;
  margin: 0;
}

h1.muutoshakemus__paatos-status {
  color: #00516d;
  font-weight: 700 !important;
  font-size: 1.4rem !important;
}

h3.muutoshakemus__header {
  font-size: 1.2rem;
  margin: 1rem 0 0.5rem 0;
}

h4.muutoshakemus__header {
  font-size: 1rem;
}

.muutoshakemus-section {
  margin: 2rem 0;
}

.muutoshakemus-row {
  margin: 1rem 0;
}

.muutoshakemus-description-box {
  white-space: pre-wrap;
  border: 1px solid #EAEAEA;
  padding: 0.75rem 1rem;
}

.muutoshakemus__paatos {
  border-left: 3px solid @bright-blue;
  padding-left: 1rem;
}

.muutoshakemus__paatos-status {
  position: relative;
  padding-left: 3rem;
}

.muutoshakemus__paatos-icon {
  &:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 2rem;
    left: 0;
    top: 0;
    background-size: 2rem;
  }
}

.muutoshakemus__paatos-icon--accepted {
  &:before {
    background: url("./img/icon_accepted.svg") no-repeat 50% 50%;
  }
}

.muutoshakemus__paatos-icon--accepted_with_changes {
  &:before {
    background: url("./img/icon_accepted.svg") no-repeat 50% 50%;
  }
}

.muutoshakemus__paatos-icon--rejected {
  &:before {
    background: url("./img/icon_rejected.svg") no-repeat 50% 50%;
  }
}

.muutoshakemus__project-end-row {
  display: flex;

  div:not(:first-of-type) {
    margin-left: 1vw;
  }
}

.muutoshakemus-notice {
  border: 1px solid #DEB335;
  box-sizing: border-box;
  border-radius: 4px;
  color: #956A14;
  background-color: #FFFAE2;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: -0.035em;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

.muutoshakemus-paatos-reason {
  padding: 0 1rem 1rem 1rem;

  > div {
    padding-top: 0.5rem;
  }
}
