.muutoshakemus-paatos__content {
  width: 100%;
  max-width: 1000px;
  padding: 2rem;
  box-sizing: border-box;
}

.muutoshakemus-paatos__header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 10px 0 30px;
  text-align: center;
}

.muutoshakemus-paatos__org {
  font-size: 1.8rem;
  padding-bottom: 3rem;
}

.muutoshakemus-paatos__section {
  display: flex;
  border-top: 1px solid #d9d9d9;
  padding: 3rem 0;
}

.muutoshakemus-paatos__section > div:first-child {
  width: 20%;
  min-width: 20%;
  margin-right: 2rem;
}

.muutoshakemus-paatos__project-name {
  padding-bottom: 1.2rem;
}

.muutoshakemus-paatos__jatkoaika {
  display: flex;

  div {
    margin-right: 4rem;
  }
}

.muutoshakemus-paatos__talousarvio {
  margin-bottom: 2rem;
}

.muutoshakemus-paatos__change-header {
  font-weight: 600;
  font-size: 1rem;
  color: black;
  margin: 0 0 1.2rem;
}

.muutoshakemus-paatos__presenter {
  margin-top: 1.2rem;
}

.muutoshakemus-paatos__reason {
  white-space: pre-wrap;
}
