{:server { :auto-reload? true
           :allow-db-clear? true
           :host "localhost"
           :port 8080 }
 :db {:username "va"
      :password "va"
      :database-name "va-dev"
      :server-name "localhost"
      :port-number 5432}
 :email {:enabled? false
         :host nil
         :port nil
         :from "no-reply@oph.fi"
         :retry-initial-wait 2000
         :retry-multiplier 4
         :retry-max-time 60000}}
