{:auto-reload? true
 :allow-db-clear? false
 :host "localhost"
 :port 8080
 :db {:username "va"
      :password "va"
      :database-name "va-dev"
      :server-name "localhost"
      :port-number 5432}}
