.container {
  width: 24px;
  height: 24px;
}

.indikaattori {
  width: 24px;
  border-radius: 50%;
  border: 1px solid;

  text-align: center; 
}

.odottaaVastausta {
  background: #FFFAE2;
  border-color: #F1E6AF;
}

.taydennyspyyntoonVastattu {
  background: #DCF8E7;
  border-color: #A1E2BB;
}
