@form-width: 1300px;
@section-width: 800px;

// Colors
@lightest-gray: #fafafa;
@light-gray: #d9d9d9;
@dark-gray: #999290;
@darkish-gray: #98918f;
@darker-gray: #807a78;
@light-green: #73ba21;
@dark-green: #00973a;
@text-black: #1a1919;
@form-label-black: #4a4a4a;
@light-blue: #7ba9c0;
@dark-blue: #4194bf;
@bright-red: #c9302c;
@yellow: #efc211;
@chuck-norris: #bada55;