@import "variables";

table.haku-list {
  .name-column {
    width: 700px;
    max-width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .status-column {
    width: 160px;
  }
  .start-column, .end-column {
    width: 160px;
  }
}

#haku-edit {
  label {
    margin-top: 10px;
  }
  label + input[type=text] {
    display: block;
  }
}
