@import "npm://va-common/web/va/style/soresu-va.less";

table.haku-list {
  .name-column {
    width: 700px;
    max-width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .status-column {
    width: 100px;
  }
  .phase-column {
    width: 100px;
  }
  .start-column, .end-column {
    width: 140px;
  }
}

table.translation, #haku-roles table {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  th {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 300;
    color: @darker-gray;
  }
  td {
    padding: 5px 0;
  }
  button {
    margin: 0;
    font-size: 16px;
  }
}

#editor-section {
  width: 100%;
  background-color: @lightest-gray;
  border-top: 2px solid @lighter-gray;
  padding-top: 22px;
}

#editor-subtab-selector {
  border-bottom: 2px solid @lightish-gray;
  padding-bottom: 6px;
  > span {
    padding-bottom: 6px;
    margin-right: 50px;
    text-transform: uppercase;
    color: @dark-gray;
    cursor: pointer;
    &.selected {
      color: @light-green;
      border-bottom: 2px solid @light-green;
      cursor: default;
    }
  }
}

#haku-edit {

  #haku-edit-header {
    width: @content-width;
    border-bottom: 1px solid @light-gray;
    h2 {
      width: @content-width - 171px;
      display: inline-block;
      margin-bottom: 8px;
    }
    #create-haku {
      width: 150px;
      border-left: 1px solid @light-gray;
      text-align: right;
      display: inline-block;
      font-size: 14px;
      padding: 0 10px;
    }
  }

  .dateDivider {
    margin: 0 10px;
    &:after {
      content: "—";
    }
  }

  input:disabled {
    color: @dark-gray;
  }

  input.percentage {
    text-align: right;
  }

  #haku-roles {
    input, select {
      max-width: @content-width / 3.3;
      width: @content-width / 3.3;
    }
  }

  #add-new-person-from-ldap {
    min-height: 72px;
    .ldap-error-display {
      min-height: 22px;
    }
    .hidden {
      display: none;
    }
    .person-adder-input {
      * {
        margin-right: 30px;
      }
    }
    #ldap-search-results {
      background: transparent;
      &.loading {
        background: white url('../img/ajax-loader.gif') no-repeat 4px 4px;
      }
      min-height: 20px;
      position: relative;
      left: 162px;
      top: 0;
      ul {
        position: absolute;
        top: -16px;
        background: white;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.40);
        border-radius: 0 0 4px 4px;
        list-style: none;
        li {
          width: @content-width / 1.25;
          .access-level {
            display: inline-block;
            width: 132px;
          }
          .va-admin {
            font-weight: bold;
          }
          .va-user {
            font-weight: 400;
          }
          .no-va-access {
            font-weight: 200;
            font-style: italic;
          }
          .person-description {
            margin-left: 10px;
          }
        }
        &.loading {
          background: white url('../img/ajax-loader.gif') no-repeat 4px 4px;
        }
      }
    }
  }

  .translation {
    textarea, input[type=text] {
      max-width: 97%;
      width: 97%;
    }
  }

  .haku-duration-edit-container, .haku-self-financing-edit-container {
    display: inline-block;
    margin-right: 40px;
  }

  #focus-areas textarea {
    height: 66px;
  }
}

#form-json-editor {
  textarea {
    width: 100%;
    min-height: 200px;
  }
}
