@import "npm://va-common/web/va/style/soresu-va.less";

table.haku-list {
  .name-column {
    width: 700px;
    max-width: 700px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .status-column {
    width: 100px;
  }
  .phase-column {
    width: 100px;
  }
  .start-column, .end-column {
    width: 140px;
  }
}

table.translation, #haku-roles table {
  margin-top: 10px;
  width: 100%;
  text-align: left;
  th {
    margin: 10px 0 0 0;
    font-size: 16px;
    font-weight: 300;
    color: @darker-gray;
  }
  td {
    padding: 5px 0;
  }
  button {
    margin: 0;
    font-size: 16px;
  }
}

#editor-section {
  width: 100%;
  background-color: @lightest-gray;
  border-top: 2px solid @lighter-gray;
  padding-top: 22px;
}

#editor-subtab-selector {
  border-bottom: 2px solid @lightish-gray;
  padding-bottom: 6px;
  > span {
    padding-bottom: 6px;
    margin-right: 50px;
    text-transform: uppercase;
    color: @dark-gray;
    cursor: pointer;
    &.selected {
      color: @light-green;
      border-bottom: 2px solid @light-green;
      cursor: default;
    }
  }
}

#haku-edit {

  #haku-edit-header {
    width: @content-width;
    border-bottom: 1px solid @light-gray;
    h2 {
      width: @content-width - 171px;
      display: inline-block;
      margin-bottom: 8px;
    }
    #create-haku {
      width: 150px;
      border-left: 1px solid @light-gray;
      text-align: right;
      display: inline-block;
      font-size: 14px;
      padding: 0 10px;
    }
  }

  .dateDivider {
    margin: 0 10px;
    &:after {
      content: "—";
    }
  }

  input:disabled, textarea:disabled {
    color: @dark-gray;
    border: dotted 1px @light-gray;
  }

  #set-multiple-rahoitusalue {
    input[type=radio] + label {
      text-transform: none;
    }
  }

  input[type=radio]:checked + label {
    margin: 0;
    border: solid 4px @light-green;
  }

  input.percentage {
    text-align: right;
  }

  #haku-roles {
    input, select {
      max-width: @content-width / 3.3;
      width: @content-width / 3.3;
    }

    table button.remove {
      opacity: 1.0;
      cursor: pointer;
      &:disabled {
        cursor: default;
        height: 23px;
        left: -2px;
        opacity: 0.4;
        position: relative;
        top: -4px;
      }
    }
  }

  .haku-roles-transition-enter {
    opacity: 0.3;
    transition: opacity 0.5s linear;

    &.haku-roles-transition-enter-active {
      opacity: 1;
    }
  }

  .haku-roles-transition-leave {
    opacity: 1;
    transition: opacity 0.4s linear;

    &.haku-roles-transition-leave-active {
      opacity: 0.3;
    }
  }

  #add-new-person-from-ldap {
    min-height: 72px;
    .ldap-error-display {
      min-height: 22px;
    }
    .hidden {
      display: none;
    }
    .person-adder-input {
      * {
        margin-right: 30px;
      }
      button.remove {
        position: relative;
        opacity: 0.4;
        cursor: default;
        left: -54px;
        top: -5px;
        &.enabled {
          opacity: 0.8;
          cursor: pointer;
          left: -52px;
          top: -2px;
        }
      }
    }
    #ldap-search-results {
      background: transparent;
      &.loading {
        background: white url('../img/ajax-loader.gif') no-repeat 4px 4px;
      }
      min-height: 20px;
      position: relative;
      left: 162px;
      top: 0;
      ul {
        position: absolute;
        top: -16px;
        background: white;
        box-shadow: 0 1px 2px 0 rgba(0,0,0,0.40);
        border-radius: 0 0 4px 4px;
        list-style: none;
        padding-left: 0;
        li {
          width: @content-width / 1.4;
          margin-right: 0;
          line-height: 27px;
          .access-level {
            display: inline-block;
            width: 132px;
          }
          .va-admin {
          }
          .va-user {
          }
          .no-va-access {
          }
          .person-description {
            margin-left: 10px;
            margin-right: 0;
          }
          a {
            &.disabled {
              color: @dark-gray;
              cursor: default;
            }
          }
          &:hover:not(.disabled) {
            background-color: lighten(@selected-blue, 42%);
          }
          &.no-results-row {
            padding-left: 30px;
            background-color: #fff;
          }
        }
        &.loading {
          background: white url('../img/ajax-loader.gif') no-repeat 4px 4px;
        }
      }
    }
  }

  .translation {
    textarea, input[type=text] {
      max-width: 97%;
      width: 97%;
    }
  }

  .haku-duration-edit-container, .haku-self-financing-edit-container {
    display: inline-block;
    margin-right: 40px;
  }

  #focus-areas textarea {
    height: 66px;
  }
}

#form-json-editor {
  textarea {
    width: 100%;
    min-height: 200px;
  }
}

.decision-editor{
  margin-top: 20px;
  display: flex;
  flex-direction:column;
}

.decision-row{
  margin-bottom: 10px;
  display: flex;
  flex-direction:row;
}

.decision-column{
  width: 50%;
  label{
    display: block;
    color: @darker-gray;
    margin-bottom: 5px;
  }
  textarea{
    width: 90%;
  }
}

.decision-date {
  padding-top: 19px;
  padding-bottom: 19px;
}

.decision-separator {
  border-bottom: solid @lightish-gray 2px;
}

.decision-date-label {
  margin-right: 10px;
}

.decision-email-row {
  display: flex;
  margin-bottom: 10px;
}

.decision-email-field-label {
  min-width: 100px;
}

.decision-email-field-value {
  display: inline-block;
}

.decision-email-content {
  white-space: pre;
}

.liite-row{
  input[type=radio]{
    display: inline-block;
  }
}

.send-decisions-panel{
  padding-top: 20px;
  h3{margin-top: 0;margin-bottom: 20px;}
}