@import "npm://va-common/web/va/style/soresu-va.less";
@import "virkailija.less";

#budget-edit-container {
  .va-budget {
    .soresu-tooltip {
      display: none;
    }
    .summing-table, .budget-summary {
      width: @content-width - @preview-width - 48px;
    }
    .soresu-text-field input[type=text], .soresu-money-field input[type=text] {
      font-size: inherit;
      &.small, &.medium, &.large, &.extra-large {
        width: 200px;
      }
      &.extra-extra-small {
        width: 50px;
      }
    }
  }
}
