@import "variables";
@import "../../../../va-common/web/va/style/soresu-va";

.soresu-preview {
  padding: 14px 6px 14px 14px;
  background-color: white;
  float: left;
  width: @left-side-width - 30px;
  text-align: justify;
  h2 {
    padding: 0;
    margin: 30px 0 8px 0;
  }

  .soresu-theme {
    .soresu-preview-fieldset {
      .soresu-preview-element {
        &.large {
          width: ceil(@left-side-width / 1.7); // original width from preview.less
        }
      }
    }
    .soresu-preview-element {
      &.large {
        width: 99%;
      }
      .soresu-value {
        font-size: 16px;
      }
      .soresu-key {
        padding: 12px 0 6px 0;
        font-size: 16px;
        color: @dark-gray;
      }
    }

    .va-budget {
      .summing-table, .budget-summary {
        width: 100%;
      }
    }
  }
}
