@import "variables";
@import "../../../../va-common/web/va/style/soresu-va";

div.soresu-edit {
  padding: 10px;
  background-color: @off-white;
  border: 1px solid @light-gray;
}

div.soresu-field-edit {
  margin: 10px;
}
