@import "npm://va-common/web/va/style/soresu-va.less";

.soresu-preview {
  text-align: justify;

  h2 {
    padding: 0;
    margin: 30px 0 8px 0;
  }

  section.soresu-theme {
    padding-top: 0;
    border: none;

    h2 {
      float: none;
      margin: 5px 0 0 0;
    }

    & > div {
      margin-left: 0;
    }
  }

  .soresu-theme {
    .soresu-preview-fieldset,
    .soresu-preview-growing-fieldset {
      .soresu-preview-element {
        text-align: left;
        width: 100%;

        &:not(.soresu-text-area).small,
        &:not(.soresu-text-area).medium,
        &:not(.soresu-text-area).large {
          &:nth-child(odd) {
            margin-right: 10px;
          }
        }
      }
    }
    .soresu-preview-fieldset .soresu-preview-element {
      &:not(.soresu-text-area).small,
      &:not(.soresu-text-area).medium,
      &:not(.soresu-text-area).large {
        width: 255px;
        vertical-align: top;
        overflow-wrap: break-word;
      }
    }
    .soresu-preview-growing-fieldset {
      ol {
        margin: 20px 0;
        padding: 0;
        li {
          & > * {
            margin-left: 20px;
          }
          &:before {
            padding-top: 12px;
            color: @dark-gray;
            width: 20px;
          }
        }
        .soresu-preview-element {
          &:not(.soresu-text-area).small,
          &:not(.soresu-text-area).medium,
          &:not(.soresu-text-area).large {
            width: 235px;
            vertical-align: top;
            overflow-wrap: break-word;
          }
        }
      }
      .va-big-fieldset {
        margin-left: 0;
      }
      &.show-only-first-label ol li:first-child:before {
        margin-top: 0;
      }
    }
    .soresu-preview-element {
      width: auto;
      .soresu-value {
        font-size: 15px;
      }
      .soresu-key {
        padding: 12px 0 6px 0;
        font-size: 15px;
        color: @dark-gray;
      }
      &.soresu-text-area {
        width: auto;
      }
    }
    .soresu-attachment-block {
      width: auto;
      font-size: 15px;
    }
    .va-budget {
      .summing-table,
      .budget-summary {
        width: 100%;
        font-size: 14px;
        .amount-value-column,
        .percentage-value-column {
          min-width: auto;
        }
        .amounts, .percentages {
          tbody tr:first-child td {
            height: auto;
          }
        }
      }
      .summing-table td {
        padding-bottom: 10px;
      }
    }
    .va-trainee-day-calculator {
      th {
        color: @dark-gray;
      }
    }
  }
}
