@import "variables";
@import "../../../../va-common/web/va/style/soresu-va";

.soresu-preview {
  margin-left: 10px;
  padding: 14px 6px 14px 14px;
  background-color: white;
  display: inline-block;
  width: @left-side-width - 30px;
  text-align: justify;
  h2 {
    padding: 0;
    margin: 30px 0 8px 0;
  }

  .soresu-theme {
    .soresu-preview-fieldset {
      .soresu-preview-element {
        &.large {
          width: ceil(@left-side-width / 1.7); // original width from preview.less
        }
      }
    }
    .soresu-preview-growing-fieldset {
      .soresu-preview-growing-fieldset-child {
        margin-left: 20px;
        padding-bottom: 20px;
      }
      .va-big-fieldset {
        margin-left: 15px;
      }
      .fieldset-elements {
        .soresu-preview-element {
          &.extra-large {
            width: 98%; // original width from preview.less
          }
        }
      }
    }
    .soresu-preview-element {
      &.large {
        width: 99%;
      }
      .soresu-value {
        font-size: 16px;
      }
      .soresu-key {
        padding: 12px 0 6px 0;
        font-size: 16px;
        color: @dark-gray;
      }
    }

    .va-budget {
      .summing-table, .budget-summary {
        width: 100%;
      }
    }
  }
}
