@import "variables";
@import "../../../../va-common/web/va/style/soresu-va";

div.soresu-form-edit {
  &.soresu-edit {
    border-left: none;
  }
  padding-top: 10px;
  h3 {
    text-transform: uppercase;
    padding-bottom: 10px;
  }
  button.soresu-edit {
    font-size: 16px;
    margin-left: 6px;
    padding: 4px 8px;
  }
}

ol {
  div.soresu-field-edit {
    padding-left: 30px;
  }
}

div.soresu-edit {
  padding: 0 0 10px 15px;
  background-color: @off-white;
  border: 1px solid #e6e6e6;
  border-right: none;
  :last-child  {
    margin-bottom: 0;
  }
}

div.soresu-field-edit, div.soresu-appendable-wrapper-edit {
  position: relative;
  margin: 10px 10px 0 0;
  label, table.translation th {
    color: @form-label-black;
    font-size: 13px;
  }
  input[type=radio] + label {
    padding: 2px 4px;
  }
}

div.soresu-field-edit {
  margin-bottom: 30px;
  border-left-width: 10px;
  padding-bottom: 0;
  &:hover {
    border: 1px solid @dark-blue;
    border-left-width: 10px;
    border-right: none;
    //background-color: lighten(@dark-blue, 40%);
  }
}

.soresu-field-remove {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  background: transparent url('../img/remove_line_enabled.png') no-repeat left top;
  padding-left: 24px;
  margin-right: 4px;
  margin-top: 4px;
  cursor: pointer;
}

.soresu-edit-property {
  margin-right: 10px;
  font-size: 12px;
}

.soresu-field-add {
  margin-top: 8px;
  span {
    text-transform: uppercase;
    color: @dark-gray;
    margin-right: 20px;
  }
}

div.soresu-radio-button-edit {
  margin-top: 8px;
  button.soresu-edit {
    margin-left: 19px;
  }
}

div.soresu-radio-option-edit {
  position: relative;
  margin-left: 15px;
  margin-bottom: 6px;
  span.soresu-radio-option-edit-title {
    display: block;
    margin-left: 6px;
    font-size: 12px;
    :after {
      content: " *";
    }
  }
  input[type="text"] {
    margin: 4px;
    width: 400px;
  }
  .soresu-field-remove {
    margin-left: 10px;
    top: 20px;
    height: 100%;
    right: auto;
  }
}
