@import "../../../../va-common/web/form/style/variables";

#container {
  input {
    margin-right: 10px;
  }

  .error {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: @bright-red;
  }
}
