@import "variables";
@import "formpreview";

.input-placeholder(@styles) {

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @styles();
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @styles();
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @styles();
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @styles();
  }
}

.status-filter {
  position: relative;
  .status-filter-popup {
    color: @selected-blue;
    position: absolute;
    padding: 10px;
    width: 100%;
    background-color: @off-white;
    font-size: 12px;
    line-height: 1.7em;
    input[type=checkbox] {
      margin-right: 5px;
    }
  }
}

table.hakemus-list {
  .organization-column, .project-name-column {
    width: 350px;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .score-column {
    width: 70px;
  }
  .status-column {
    width: 130px;
    .accepted {
      color: @light-green;
    }
  }
  .applied-sum-column, .granted-sum-column {
    width: 135px;
    text-align: right;
    .money:after {
      content: " €"
    }
  }
  th {

    input.text-filter {
      width: 95%;
      padding-left: 4px;
      .input-placeholder({
        color: @form-label-black;
      })
    }
    input.text-filter:focus {
      outline: none;
      .input-placeholder({
        color: @light-gray;
      })
    }
  }
  tbody {
    tr {
      &.selected {
        td.status-column .accepted {
          color: white;
        }
      }
    }
  }
  tfoot {
    .total-applications-column {
      width: 900px;
      font-size: 13px;
      font-weight: normal;
    }
  }
}

#footer {
  position: absolute;
  bottom: 2px;
  font-size: 12px;
  margin-left: 10px;
}

#hakemus-details {
  margin-top: @overview-and-top-total-height;

  #preview-container {
    position: absolute;
    background-color: @off-white;
    padding: 10px 15px 10px 10px;
    overflow-y: scroll;
    top: @overview-and-top-total-height;
    bottom: 20px;
    width: @preview-width;

    div.soresu-attachment-block {
      width: @preview-width;
    }
  }

  #hakemus-arviointi {
    position: absolute;
    font-size: 12px;
    background-color: @off-white;
    padding: 10px 15px 10px 10px;
    overflow-y: auto;
    display: inline-block;
    margin-left: @preview-width + 35px;
    top: @overview-and-top-total-height;
    bottom: 20px;
    width: @content-width - @preview-width - 50px;

    #hakemus-scoring-container {
      .single-valintaperuste {
        position: relative;
        margin-bottom: 6px;
        line-height: 14px;
        .valintaperuste-text {
          width: 222px;
          display: inline-block;
          color: @dark-gray;
        }
      }
      .score-row {
        position: absolute;
        display: inline-block;
        right: 42px;
        .single-score {
          padding: 0 7px 0 7px;
        }
      }
    }

    .comment-list {
      max-height: 92px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 12px;
    }

    .single-comment {
      margin-bottom: 3px;
      .comment-datetime {
        margin-top: -5px;
        color: @dark-gray;
      }
    }

    .comment-input {
      width: @content-width - @preview-width - 80px;
      padding: 10px;

      .input-placeholder({
        font-style: italic;
      })
    }

    input[type=radio] + label {
      font-size: 12px;
      padding: 8px 2px;
    }
  }
}
