@import "../../../../va-common/web/form/style/variables";

table.hakemus-list {
  margin-top: 13px;
  width: @section-width - 18px;
  text-align: left;
  thead {
    tr {
      // tr cannot have margin
      border-top: 10px transparent solid;
      border-bottom: 8px transparent solid;
      th {
        font-weight: normal;
      }
    }
  }

  colgroup {
    .organization-column {
      width: 330px;
    }
    .project-name-column {
      width: 330px;
    }
    .score-column {
      width: 100px;
    }
    .status-column {
      width: 160px;
    }
    .applied-sum-column {
      width: 100px;
    }
    .granted-sum-column {
      width: 100px;
    }
  }
  tfoot {
    border-top: 1px solid @light-gray;
    font-weight: bold;
    td {
      padding-top: 5px;
    }
  }

  tbody {
    tr {
      &.selected {
        background-color: #4093BE
      }
      &:last-child {
        td {
          padding-bottom: 10px;
        }
      }
    }
  }
  td.status-column {
    text-transform: uppercase;
  }
  .applied-sum-column, .granted-sum-column {
    text-align: right;
  }
  span.money {
    margin-right: 10px;
  }
  .money:after {
    content: " €"
  }
}

#hakemus-details {
  margin-top: 10px;
  padding-top: 40px;
  border-top: 1px solid @light-gray;

}

iframe {
  width: @form-width;
  height: 3000px;
}