@import "npm://soresu-form/web/form/style/common.less";
@import "formpreview";

.input-placeholder(@styles) {

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @styles();
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @styles();
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @styles();
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @styles();
  }
}

.status-filter {
  position: relative;
  display: inline-block;
  .status-filter-popup {
    color: @selected-blue;
    position: absolute;
    padding: 10px;
    width: 160px;
    background-color: @off-white;
    font-size: 12px;
    line-height: 1.7em;
    top: 37px;
    left: -20px;
    input[type=checkbox] {
      margin-right: 5px;
    }
    .box-triangle(22px);
    .box-triangle-up(@off-white, @off-white);
  }
}

table.hakemus-list {
  .organization-column, .project-name-column {
    width: 350px;
    max-width: 350px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    input.text-filter {
      width: 300px;
    }
  }
  .score-column {
    width: 90px;
    .single-score {
      padding: 0px;
    }
    .single-score-0 {
      opacity: 0.2;
    }
    .single-score-25 {
      opacity: 0.4;
    }
    .single-score-50 {
      opacity: 0.6;
    }
    .single-score-75 {
      opacity: 0.8;
    }
  }
  .status-column {
    width: 110px;
    .accepted {
      color: @light-green;
    }
  }
  .applied-sum-column, .granted-sum-column {
    width: 135px;
    text-align: right;
    .money:after {
      content: " €"
    }
  }
  th {
    button.filter-remove {
      background: transparent url('../img/remove_line_enabled.png') no-repeat center;
      background-size: 14px 14px;
      border-width: 0px;
      margin: 0 6px;
      height: 22px;
      float: right;
    }
    button.filter-remove:focus {
      outline: none;
    }
    input.text-filter {
      padding-left: 4px;
      .input-placeholder({
        color: @form-label-black;
      })
    }
    input.text-filter:focus {
      outline: none;
      .input-placeholder({
        color: @light-gray;
      })
    }
  }
  tbody {
    tr {
      &.selected {
        td.status-column .accepted {
          color: white;
        }
      }
    }
  }
  tfoot {
    .total-applications-column {
      width: 900px;
      font-size: 13px;
      font-weight: normal;
    }
  }
}

#footer {
  position: absolute;
  bottom: 2px;
  font-size: 12px;
  margin-left: 10px;
}

#hakemus-details {
  margin-top: @overview-and-top-total-height;

  #preview-container {
    position: absolute;
    background-color: @off-white;
    padding: 10px 15px 10px 10px;
    overflow-y: scroll;
    top: @overview-and-top-total-height;
    bottom: 20px;
    width: @preview-width;

    div.soresu-attachment-block {
      width: @preview-width;
    }
  }

  #hakemus-arviointi {
    position: absolute;
    font-size: 12px;
    background-color: @off-white;
    padding: 10px 15px 10px 10px;
    overflow-y: auto;
    display: inline-block;
    margin-left: @preview-width + 28px;
    top: @overview-and-top-total-height;
    bottom: 20px;
    width: @content-width - @preview-width - 43px;

    .value-edit {
      label {
        color: @darker-gray;
        font-weight: 300;
        font-size: 14px;
        margin-right: 5px;
      }
      button {
        margin: 4px;
        padding: 4px 8px;
        font-size: 14px;
      }
    }

    .budget-granted {
      #budget-granted {
        margin-top: 7px;
      }
    }

    .summary-comment {
      #summary-comment {
        width: 47%;
        margin-top: 7px;
      }
    }

    #hakemus-scoring-container {
      .single-valintaperuste {
        margin-bottom: 6px;
        line-height: 14px;
        .valintaperuste-text {
          width: 290px;
          display: inline-block;
          color: @dark-gray;
        }
        .score-row {
          margin-left: 10px;
          vertical-align: top;
          display: inline-block;
          .single-score {
            padding: 0 14px 0 0;
            &.editable {
              cursor: pointer;
            }
          }
          .score-text {
            color: @dark-gray;
          }
        }
      }

      .see-others-scoring.disabled a {
        color: @dark-gray;
        cursor: default;
      }
    }

    .comment-list {
      max-height: 92px;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-bottom: 12px;
    }

    .single-comment {
      margin-bottom: 3px;
      .comment-datetime {
        margin-top: -5px;
        color: @dark-gray;
      }
    }

    .comment-input {
      width: @content-width - @preview-width - 80px;
      padding: 10px;

      .input-placeholder({
        font-style: italic;
      })
    }

    input[type=radio] + label {
      font-size: 12px;
      padding: 8px 2px;
      margin: 4px 3px 4px 1px;
    }

    input[type=radio]:checked + label {
      margin: 0;
      border: solid 4px @light-green;
    }
  }
}
