@import "npm://soresu-form/web/form/style/variables.less";
@import "mixins.less";

@money-column-width: 120px;

body {
  background-color: #fff;
}

#container {
  min-width: 1180px;
  max-width: @content-width;
  margin: 0 auto;
  padding: 10px;

  h1, h2 {
    margin: 0;
  }

  h2 {
    color: @form-label-black;
    font-weight: 300;
    font-size: 20px;
  }

  ul {
    padding: 0;
    list-style: none;
  }

  td, th {
    text-align: left;
  }

  td {
    padding: 5px 7px 5px 0;
    vertical-align: top;
  }

  th {
    padding: 0 7px 5px 0;
    color: @form-label-black;
    font-weight: normal;
    vertical-align: bottom;
  }

  thead tr:last-child {
    border-bottom: 1px solid @light-gray;
  }

  tfoot tr:first-child {
    border-top: 1px solid @light-gray;
  }

  .money {
    &:after {
      content: "\00A0€";
    }

    &.sum {
      font-weight: bold;
    }
  }

  .rahoitusalue-heading {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .applied-money-column,
  .granted-money-column {
    text-align: right;
  }

  .applied-money-column,
  .granted-money-column {
    width: @money-column-width;
  }

  .status-heading-column {
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
  }

  .summary-heading-table {
    margin-top: 10px;
    margin-bottom: 20px;
    white-space: nowrap;
    font-size: 15px;

    .count-column {
      text-align: right;
      width: 80px;
    }

    .granted-money-column {
      padding-left: 7px;
      padding-right: 0;
    }
  }

  .summary-hakemus-table {
    width: 100%;

    .organization-column {
      min-width: 350px;
      max-width: 350px;
    }

    .project-name-column {
      min-width: 500px;
      max-width: 500px;
    }

    td.organization-column,
    td.project-name-column {
      #va-virkailija > .overflow-ellipsis();
    }

    .comment-column {
      padding-left: 7px;
      padding-right: 0;
    }

    td.comment-column {
      padding-top: 7px;
      font-style: italic;
      font-size: 15px;
      line-height: 100%;
    }
  }
}

#summary-link {
  margin: 40px 0;

  a {
    color: #fff;
    background-color: @light-green;
    border-width: 0;
    margin: 4px 0;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 300;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  h2, a, th {
    color: black;
  }

  #container {
    min-width: auto;
    max-width: auto;
    margin: 0;
    padding: 0;

    .summary-hakemus-table {
      .organization-column {
        min-width: 300px;
        max-width: 300px;
      }

      .project-name-column {
        min-width: 400px;
        max-width: 400px;
      }
    }
  }

  #summary-link {
    display: none;
  }

  @page {
    margin: 1.5cm;
  }
}
