@import "npm://soresu-form/web/form/style/variables.less";

@score-column-width: 90px;
@summary-content-width: @content-width - @score-column-width;
@summary-total-applications-column-width: 900px - @score-column-width;

#list-container {
  position: absolute;
  .score-column {
    display: none;
  }
  width: @summary-content-width;
  table.overview-list {
    tbody {
      overflow: auto;
    }
    width: @summary-content-width;
    tr.overview-row {
      cursor: default;
      &.unselected:hover {
        background-color: @lighterer-gray;
      }
    }
  }

  table.hakemus-list tfoot .total-applications-column {
    width: @summary-total-applications-column-width;
    .summary-link {
      display: none;
    }
  }
}
