@import "npm://soresu-form/web/form/style/variables.less";

@score-column-width: 90px;
@status-column-width: 110px;
@summary-content-width: @content-width - @score-column-width - @status-column-width;
@summary-total-applications-column-width: @summary-content-width - @score-column-width - @status-column-width;

body {
  background-color: #fff;
}

#container {
  margin: 10px auto 0 auto;
  h2 {
    color: black;
    font-weight: 400;
    margin-bottom: 10px;
  }
  ul {
    padding: 0;
    list-style: none;
  }
}

#list-container {
  .score-column {
    display: none;
  }
  width: @summary-content-width;
  table.overview-list {
    width: @summary-content-width - 50px;
    margin-bottom: 30px;
    .organization-column, .project-name-column {
      width: 350px;
      max-width: 350px;
    }
    .applied-sum-column {
      width: 120px;
    }
    .granted-sum-column {
      width: 120px;
    }
    tr.overview-row {
      cursor: default;
      &.unselected:hover {
        background-color: @lighterer-gray;
      }
    }
    tbody tr.overview-row td.organization-column:first-child {
      padding-left: 0;
      padding-right: 7px;
    }
  }

  table thead {
    .organization-column, .project-name-column, .status-heading-column {
      text-align: left;
    }
    .status-heading-column {
      text-transform: uppercase;
    }
  }

  table.hakemus-list tfoot {
    .total-applications-column {
      width: @summary-total-applications-column-width;
    }
    .applied-sum-column {
      width: 120px;
    }
    .granted-sum-column {
      width: 120px;
    }
  }
}

#summary-link {
  margin-bottom: 40px;
  a {
    color: #fff;
    background-color: @light-green;
    border-width: 0;
    margin: 4px 0;
    padding: 8px 15px;
    font-size: 18px;
    font-weight: 300;
  }
}

@media print {
  body {
    background-color: white;
    color: black;
  }

  h2, a, table.overview-list thead tr th {
    color: black;
  }

  #container {
    margin: 0;
  }

  input {
    margin-left: -5px;
    background-color: white;
    border: none;
    color: black;
  }

  .sorter {
    display: none;
  }

  #summary-link {
    display: none;
  }

  @page {
    margin: 1.5cm;
  }
}
