@import "npm://soresu-form/web/form/style/soresu-react-widget-dropdown.less";
@import "npm://va-common/web/va/style/soresu-va.less";

#avustushaku-dropdown {
  position: relative;
  right: 11px;
  height: 35px;
}
