@import "variables";

#avustushaku-dropdown {
  position: relative;
  height: 35px;
}

.rw-dropdownlist {
  position: absolute;
  display: inline-block;

  background-color: @off-white;
  margin: 4px 4px 4px 0;
  padding: 4px 20px 4px 22px;
  border: 1px solid @lightest-gray;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.40);
  cursor: pointer;
  color: @selected-blue;

  &.rw-open {
    height: 190px;
  }

  input {
    width: 97%;
    height: 34px;
    padding-left: 4px;
    border: 1px solid @darkish-gray;
  }

  //&.unselected:hover {
  //  background-color: lighten(#4093BE, 42%);
  //}
  //&.selected {
  //  background-color: #4093BE;
  //  color: white;
  //}


  .rw-sr {
    display: none;
  }

  &:active, &:focus {
    outline: none;
  }

  .rw-i {
    display: inline-block;
    box-sizing: border-box;
  }

  .rw-select {
    position: absolute;
    top: 7px;
    right: 3px;
    font-size: 24px;
    i.rw-i-caret-down {
      &:before {
        content: " \02C5";
      }
      font-style: normal;
    }
  }

  .rw-input:active, .rw-input:focus {
    outline: none;
  }

  .rw-popup-container {
    position: absolute;
    background-color: @off-white;

    li {
      list-style: none;
    }
  }
}
