@import "~va-common/web/va/style/soresu-va.less";

#topbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  z-index: 100;

  #logo {
    margin: 10px 20px 10px 0;
    float: left;
  }

  #tabs {
    margin-top: 12px;
    height: 48px;
    float: left;
    border-right: 1px solid @light-gray;

    .tab {
      margin: 0;
      float: left;
      text-align: center;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      border-left: 1px solid @light-gray;
      padding: 12px 15px 12px 15px;
      color: @dark-gray;
    }

    .active {
      color: black;
    }
  }

  #server-info {
    position: absolute;
    top: 46px;
    left: 81px;
    color: @bright-red;
    .environment {
      text-transform: uppercase;
    }
  }

  #form-controls {
    float: right;
    margin-top: 10px;

    .status {
      float: left;
      max-width: 190px;
      width: 190px;
      min-height: 1px;
      margin-top: 17px;
      padding: 0 5px;
      font-size: 13px;
    }

    .user {
      display: inline-block;
      max-width: 190px;
      width: 190px;
      margin-top: 15px;
      padding-right: 15px;
      text-align: right;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    form {
      display: inline-block;
      vertical-align: top;
      button {
        margin-top: 5px;
      }
    }
  }
}

#top-container {
  position: relative;
  height: @topbar-height;
  width: @content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
