@import "variables";

#topbar {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  z-index: 100;

  #logo {
    margin: 10px 20px 10px 0;
    float: left;
    height: 50px;
  }

  #tabs {
    margin-top: 12px;
    height: 48px;
    float: left;
    border-right: 1px solid @light-gray;

    .tab {
      margin: 0;
      float: left;
      text-align: center;
      font-size: 18px;
      font-weight: normal;
      text-transform: uppercase;
      border-left: 1px solid @light-gray;
      padding: 12px 15px 12px 15px;
      color: @dark-gray;
    }

    .active {
      color: black;
    }

    .tab[disabled] {
      cursor: default;
      :hover {
        color: black;
      }
    }
  }

  #server-info {
    margin-top: 25px;
    padding: 0 15px;
    float: left;
    color: @bright-red;
    .environment {
      text-transform: uppercase;
    }
    .environment:after {
      content: " ";
    }
  }

  #form-controls {
    float: right;
    margin-top: 10px;

    form {
      display: inline-block;
    }

    .status {
      float: left;
      min-width: 180px;
      margin-top: 15px;
      padding-right: 20px;
      font-size: 13px;
    }

    .user {
      width: 240px;
      float: left;
      margin-top: 15px;
      padding-right: 20px;
      text-align: right;
    }

    button {
      margin-top: 5px;
    }
  }
}

#top-container {
  height: @topbar-height;
  width: @content-width;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
