@import "../../../../soresu-form/web/form/style/variables";

@content-width: 1200px;
@preview-width: 700px;
@topbar-height: 70px;
@haku-selector-combobox-height: 22px;
@overview-list-height: 270px;
@overview-and-top-total-height: @topbar-height + @haku-selector-combobox-height + @overview-list-height;
@table-indent: 7px;
@selected-blue: #4093BE;
