@import "npm://soresu-form/web/form/style/variables.less";
@import "npm://soresu-form/web/form/style/common.less";
@import "mixins.less";

@haku-selector-combobox-height: 22px;
@overview-list-height: 270px;
@overview-and-top-total-height: @topbar-height + @haku-selector-combobox-height + @overview-list-height;

h3.required:after {
  content: " *";
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @lighterer-gray;
  color: @text-black;
  font-size: 16px;
}

.error {
  color: @bright-red;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}

h2 {
  color: @dark-blue;
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0;
}

h3 {
  color: @darker-gray;
  font-weight: 300;
  font-size: 16px;
  margin: 10px 0 0 0;
}

.text-grey{
  color: #999290;
}

.text-center{
  text-align: center;
}

.btn{
  font-weight: 500;
  margin-top: 0;
  border-radius: 3px;
}

.btn:disabled{
  color: #333;
}

.btn-sm{
  font-size: 11px;
  line-height: 1.5;
  padding: 5px 7px;
}

.btn-simple{
  display: inline-block;
  color: #4d4d4d;
  background-color: transparent;
  border: solid 1px #D8D8D8;
}

.btn-blue{
  color: @light-blue;
  border: 1px solid @light-blue;
  background-color: transparent;
}

.btn-danger{
  color: #fff;
  border: 1px solid @bright-red;
  background-color: @bright-red;
}

.btn-selected{
  background-color: @light-blue;
  color: #fff;
  border-color: @light-blue;
}

.btn-selected--border{
  border-width: 2px;
  border-color: @light-blue;
}

.btn-tag{
  margin-right: 10px;
  margin-bottom: 10px;
}

.btn-tag-example{
  padding: 2px 5px;
  cursor: text;
}


#container, #main-container {
  margin-top: @topbar-height + 10px;
  padding-bottom: 20px;

  label:after {
    content: " ";
  }
}

.section-container {
  max-width: @content-width;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: @light-blue;
  cursor: pointer;
  text-decoration: none;
}

.sorter {
  #va-virkailija .no-select();

  display: inline-block;
  margin-left: 3px;
  a {
    border-width: 0;
    margin: 0 2px 0 0;
    font-family: Arial, sans-serif;
  }
  .sorted {
    font-weight: bold;
  }
  .sort {
    padding-top: 3px;
    padding-left: 7px;
    font-size: 18px;
  }
  .sort-none:after {
    color: @light-gray;
    content: "\25BC";
  }
  .sort-desc:after {
    content: "\25BC";
  }
  .sort-asc:after {
    content: "\25B2";
  }
}

button,
.soresu-file-upload .soresu-upload-button {
  font-size: 15px;
  color: #fff;
  background-color: @light-blue;
  border: 2px solid @light-blue;
  border-radius: 2px;
  margin: 4px 0;
  padding: 8px 14px;

  &:not(:disabled):hover {
    background-color: @bright-blue;
    border-color: @bright-blue;
  }
}

button:disabled {
  background-color: @light-gray;
  border-color: @light-gray;
}

button.remove,
button.soresu-remove {
  background: transparent url('../img/remove_line_enabled.png') no-repeat left top;
  border: none;
  width: 20px;
  height: 22px;

  &:not(:disabled):hover {
    background-color: transparent;
  }
}

button:disabled.remove,
button:disabled.soresu-remove {
  background: transparent url('../img/remove_line_disabled.png') no-repeat left top;
}

textarea {
  resize: vertical;
  padding: 10px;
}

input[type=text] {
  padding: 0 4px;
}

textarea, input[type=text] {
  #va-virkailija .input-placeholder({
    font-style: italic;
  });
  &:enabled {
    border: 1px solid @dark-gray;
  }
}

table caption {
  color: @dark-blue;
}

#list-container {
  width: @content-width;
  z-index: 1;
}

#list-container.has-selected {
  position: fixed;
  top: @topbar-height;
  display: none;
}

.split-view #list-container.has-selected {
  display:block;
}

.link-list {
  margin-top: 10px;

  .link-list-item {
    display: inline-block;
    padding: 0 20px;
    border-right: solid 1px @light-gray;
    h3 {
      margin-top: 0;
    }
  }

  :first-child {
    padding-left: 0;
  }

  :last-child {
    border-right: none;
  }
}

.link-divider {
  color: @light-gray;
  margin: 0 6px;
  &:after {
    content: "|";
  }
}

input[type=radio] {
  display: none;
}

.soresu-radiobutton-group {
  display: inline-block;
  border: 2px solid @light-blue;
  border-radius: 2px;
  padding: 4px;
  background-color: white;
  margin: 4px 0;

  input[type=radio] + label {
    display: inline-block;
    font-size: 15px;
    color: @light-blue;
    background-color: white;
    border: 2px solid transparent;
    border-radius: 2px;
    margin: 0;
    padding: 4px 8px;
  }

  &--vertical {
    input[type=radio] + label {
      display: block;
    }
  }

  input[type=radio]:disabled + label {
    color: @light-gray;
  }

  input[type=radio]:checked + label {
    color: white;
    background-color: @light-blue;
    border-color: @light-blue;
  }

  input[type=radio]:not(:disabled):not(:checked) + label:hover {
    color: white;
    background-color: @bright-blue;
    border-color: @bright-blue;
    cursor: pointer;
  }
}

div.soresu-field-edit .soresu-edit-properties-line .soresu-edit-property .soresu-radiobutton-group--vertical label.soresu-input-type-selection {
  min-width: auto;  // override, just horrible
}

.soresu-sizebutton-group {
  display: inline-block;
  border: none;
  margin: 4px 0;
  padding: 0;

  label.soresu-size-selection {
    display: inline-block;
    font-size: 15px;
    color: @form-label-black;
    background-color: #def2ff;
    width: 50px;
    padding: 4px;

    &:first-of-type {
      border-radius: 2px 0 0 2px;
    }

    &:last-of-type {
      border-radius: 0 2px 2px 0;
    }
  }

  input[type=radio]:checked + label.soresu-size-selection {
    color: white;
    background-color: #06526b;

    &:before {
      content: "✔";
      color: @light-blue;
      margin-right: 6px;
    }
  }

  input[type=radio]:not(:disabled):not(:checked) + label.soresu-size-selection:hover {
    background-color: @bright-blue;
    cursor: pointer;
  }
}

.soresu-edit-property input[type=checkbox] {
  border: 2px solid @light-blue;
  border-radius: 2px;
  position: relative;

  &:checked {
    background: none;

    &:after {
      content: "✔";
      color: @light-blue;
      #va-virkailija .center-horizontal-vertical();
    }
  }
}

table.overview-list {
  width: @content-width;
  text-align: left;

  thead {
    #va-virkailija .no-select();
    display: block;
    tr {
      // tr cannot have margin
      border-top: 10px transparent solid;
      border-bottom: 2px transparent solid;
      th:first-child {
        padding-right: @table-indent;
      }
      th:last-child {
        padding-right: @table-indent;
      }
      th {
        font-weight: normal;
        color: @form-label-black;
        padding-bottom: 7px;
      }
    }
  }
  tbody.has-selected {
    height: 180px;
  }
  tbody {
    display: block;
    overflow-y: auto;
    tr:first-child {
      border-top: 1px solid @light-gray;
    }
    tr {
      &.overview-row {
        td:first-child {
          padding-left: @table-indent;
        }
        td:last-child {
          padding-right: @table-indent;
        }
        cursor: pointer; cursor: hand;
        color: #1A1919;
      }

      &.unselected:hover {
        background-color: @lighter-blue;
      }
      &.selected {
        background-color: @light-blue;
        color: white;
        .btn-role{
          border-color: #fff;
        }
        .btn-role__count{
          color: #fff;
        }
      }
      td {
        padding: 5px 0;
      }
    }
  }
  tfoot {
    display: block;
    border-top: 1px solid @light-gray;
    font-weight: bold;
    td:first-child {
      padding-left: @table-indent;
    }
    td:last-child {
      padding-right: @table-indent;
    }
    td {
      padding-top: 5px;
    }
  }
}

.panel{
  background-color: #fff;
  padding: 15px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  z-index: 10000;

  .close{
    color: @light-gray;
    font-weight: 200;
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    margin: 0;
  }
}

.email-preview-panel{
  width: 400px;
  position: relative;
  .box-triangle(80px);
  .box-triangle-up(@light-gray, @off-white);
}

.person-panel{
  width: 333px;
  position: absolute;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  left: -314px;
  top: 32px;
  text-align: left;
  .box-triangle(325px);
  .box-triangle-up(@light-gray, @off-white);
  button{
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &&--top{
    left: inherit;
    right: 20px;
    top:80px;
    &:before,&:after{
      content: none;
    }
  }
  &&--sm{
    font-size: 12px;
  }

  &&--view-details{
    width: 800px;
    right: 0;
    left: inherit;
  }
}

.hakemus-filter-panel{
  width: 500px;
  position: absolute;
  left: -50%;
  top: 32px;
  .box-triangle(140px);
  .box-triangle-up(@light-gray, @off-white);
}

.hakemus-filter-question{
  color: @light-blue;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  margin-right: 20px;
  font-size: 12px;
  &:before{
    content: "\25BC";
    font-size: 10px;
    margin-right: 5px;
  }

  &--open{
    &:before{
      content: "\25B2";
    }
  }
}

.hakemus-filter-options{
  margin-bottom: 10px;
  button{
    margin-bottom: 10px;
  }
}

.role-container{
  margin-bottom: 10px;
}

.role-title{
  font-size: 12px;
  margin-bottom: 15px;
  color: #4d4d4d;
}

.btn-role{
  background: transparent url('../img/person_icon.png') no-repeat 25% 50%;
  position: relative;
  width: 30px;
  height: 25px;
  margin-bottom: 0;

  &--center{
    background-position-x: 50%;
  }
  &__count{
    color: #C4C4C4;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right:3px;
  }
}

.radio-container{
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  position: relative;
  &--rahoitusalue{
    .box-triangle(100px);
    .box-triangle-up(@light-gray, @off-white);
  }

  &--perustelut{
    .box-triangle(150px);
    .box-triangle-up(@light-gray, @off-white);
  }
}

.radio-row{
  box-sizing: border-box;
  color: @light-blue;
  width: 100%;
  padding: 5px 10px;
  line-height: 1.15;
  cursor:pointer;
  &--unselected:hover{
    background-color: #e0edf4;
  }
  &--selected{
    background-color: @light-blue;
    color: #fff;
  }
  label{
    cursor: pointer;
  }

  input[type="radio"]{
    display: none;
  }
}

.seuranta-section {
  border-bottom: 1px solid #d3d3d3;
  padding: 0 0 20px;
  margin: 10px 0;

  &:last-child {
    border-bottom: none;
  }
}

.seuranta-liitteet {
  div.soresu-attachment-input-field button.soresu-remove{
    top:0;
  }
}

.status-filter {
  position: relative;
  display: inline-block;
  .status-filter-popup {
    color: @light-blue;
    position: absolute;
    padding: 10px;
    width: 160px;
    background-color: @off-white;
    font-size: 12px;
    line-height: 1.7em;
    top: 37px;
    left: -20px;
    input[type=checkbox] {
      margin-right: 5px;
    }
    .box-triangle(22px);
    .box-triangle-up(@off-white, @off-white);
  }
}

button.filter-remove {
  background: transparent url('../img/remove_line_enabled.png') no-repeat center;
  background-size: 14px 14px;
  border-width: 0;
  margin: 0;
  height: 22px;
  float: right;
  &:focus{
    outline: none;
  }
}

input.text-filter {
  padding-left: 4px;
  #va-virkailija .input-placeholder({
    color: @form-label-black;
  });
  &:focus{
    outline: none;
    #va-virkailija .input-placeholder({
      color: @light-gray;
    })
  }
}
