@import "variables";

.ease-in-out(@seconds) {
  -webkit-transition: all @seconds ease-in-out;
  -moz-transition: all @seconds ease-in-out;
  -ms-transition: all @seconds ease-in-out;
  -o-transition: all @seconds ease-in-out;
  transition: all @seconds ease-in-out;
}

.scale (@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform: scale(@factor);
  -ms-transform: scale(@factor);
  -o-transform: scale(@factor);
  transform: scale(@factor);
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @lightest-gray;
  color: @text-black;
  font-size: 16px;
}

.error {
  color: @bright-red;
}

#container {
  max-width: @content-width;
  margin-top: @topbar-height + 10px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px 20px 20px;

  label:after {
    content: " ";
  }

  h1 {
    font-weight: 300;
    font-size: 24px;
    margin: 0;
  }

  h2 {
    color: @darker-gray;
    font-weight: 300;
    font-size: 18px;
  }

  h3 {
    color: @darker-gray;
    font-weight: 300;
    font-size: 16px;
    margin: 10px 0 0 0;
  }
}

a {
  color: @dark-blue;
  cursor: pointer;
  text-decoration: none;
}

.sorter {
  display: inline-block;
  margin-left: 3px;
  a {
    border-width: 0;
    margin: 0 2px 0 0;
    font-family: Arial, sans-serif;
  }
  .sorted {
    font-weight: bold;
  }
  .sort-desc:after {
    content: "\02C5";
  }
  .sort-asc:after {
    content: "\02C4";
  }
}

button {
  color: #fff;
  background-color: @light-green;
  border-width: 0;
  margin: 4px 0;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 300;
}

button[disabled] {
  background-color: @light-gray;
  border: 1px solid @light-gray;
}

button.remove {
  background: transparent url('../img/remove_line_enabled.png') no-repeat left top;
  border-width: 0px;
  width: 20px;
  height: 22px;
}
button[disabled].remove {
  background: transparent url('../img/remove_line_disabled.png') no-repeat left top;
}

textarea {
  resize: vertical;
}

#list-container {
  position: fixed;
  width: @content-width;
  top: @topbar-height;
  height: @overview-list-height;
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  text-transform: uppercase;
  display: inline-block;
  color: @dark-gray;
  margin: 4px 3px;
  padding: 12px;
  background-color: #fff;
  border: solid 1px @dark-gray;
  cursor: pointer;
}

input[type=radio]:checked + label {
  margin: 0;
  color: @text-black;
  border: solid 4px @light-green;
}

input[type=radio]:disabled + label {
  color: @light-gray;
  cursor: default;
  border: solid 1px @light-gray;
}

table.overview-list {
  width: @content-width;
  text-align: left;

  thead {
    display: block;
    tr {
      // tr cannot have margin
      border-top: 10px transparent solid;
      border-bottom: 2px transparent solid;
      th:first-child {
        padding-right: @table-indent;
      }
      th:last-child {
        padding-right: @table-indent;
      }
      th {
        font-weight: normal;
        color: @form-label-black;
        padding-bottom: 7px;
      }
    }
  }
  tbody {
    display: block;
    overflow-y: scroll;
    height: 180px;
    tr:first-child {
      border-top: 1px solid @light-gray;
    }
    tr {
      &.overview-row {
        td:first-child {
          padding-left: @table-indent;
        }
        td:last-child {
          padding-right: @table-indent;
        }
        cursor: pointer; cursor: hand;
        color: #1A1919;
      }

      &.unselected:hover {
        background-color: lighten(@selected-blue, 42%);
      }
      &.selected {
        background-color: @selected-blue;
        color: white;
      }
      td {
        padding: 5px 0;
      }
    }
  }
  tfoot {
    display: block;
    border-top: 1px solid @light-gray;
    font-weight: bold;
    td:first-child {
      padding-left: @table-indent;
    }
    td:last-child {
      padding-right: @table-indent;
    }
    td {
      padding-top: 5px;
    }
  }
}

