@import "npm://soresu-form/web/form/style/variables.less";
@import "npm://soresu-form/web/form/style/common.less";

@haku-selector-combobox-height: 22px;
@overview-list-height: 270px;
@overview-and-top-total-height: @topbar-height + @haku-selector-combobox-height + @overview-list-height;
@blue: #149ECB;

.noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-placeholder(@styles) {

  &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    @styles();
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    @styles();
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
    @styles();
  }
  &:-ms-input-placeholder { /* Internet Explorer 10-11 */
    @styles();
  }
}

h3.required:after {
  content: " *";
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: @lighterer-gray;
  color: @text-black;
  font-size: 16px;
}

.error {
  color: @bright-red;
}

h1 {
  font-weight: 300;
  font-size: 24px;
  margin: 0;
}

h2 {
  color: @darker-gray;
  font-weight: 300;
  font-size: 18px;
}

h3 {
  color: @darker-gray;
  font-weight: 300;
  font-size: 16px;
  margin: 10px 0 0 0;
}

.text-grey{
  color: #999290;
}

.text-center{
  text-align: center;
}

.btn{
  font-weight: 500;
  margin-top: 0;
  border-radius: 3px;
}

.btn-sm{
  font-size: 11px;
  line-height: 1.5;
  padding: 5px 7px;
}

.btn-simple{
  display: inline-block;
  color: #9B9B9B;
  background-color: transparent;
  border: solid 1px #D8D8D8;
}

.btn-blue{
  color: @blue;
  border: solid 1px @blue;
  background-color: transparent;
}

.btn-selected{
  background-color: @blue;
  color: #fff;
  border-color: @blue;
}

.btn-selected--border{
  border-color: @blue;
  border-width: 2px;
}


#container, #main-container {
  margin-top: @topbar-height + 10px;
  padding-bottom: 20px;

  label:after {
    content: " ";
  }
}

.section-container {
  max-width: @content-width;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: @blue;
  cursor: pointer;
  text-decoration: none;
}

.sorter {
  .noselect;

  display: inline-block;
  margin-left: 3px;
  a {
    border-width: 0;
    margin: 0 2px 0 0;
    font-family: Arial, sans-serif;
  }
  .sorted {
    font-weight: bold;
  }
  .sort {
    padding-top: 3px;
    padding-left: 7px;
    font-size: 18px;
  }
  .sort-none:after {
    color: @light-gray;
    content: "\25BC";
  }
  .sort-desc:after {
    content: "\25BC";
  }
  .sort-asc:after {
    content: "\25B2";
  }
}

button {
  color: #fff;
  background-color: @light-green;
  border-width: 0;
  margin: 4px 0;
  padding: 8px 15px;
  font-size: 18px;
  font-weight: 300;
}

button[disabled] {
  background-color: @light-gray;
  border: 1px solid @light-gray;
}

button.remove {
  background: transparent url('../img/remove_line_enabled.png') no-repeat left top;
  border-width: 0px;
  width: 20px;
  height: 22px;
}
button[disabled].remove {
  background: transparent url('../img/remove_line_disabled.png') no-repeat left top;
}

button.close{
  font-size: 21px;
  font-weight: normal;
  line-height: 1;
  color: #999290;
  background-color: transparent;
  cursor: pointer;
}

textarea {
  resize: vertical;
  padding: 10px;
}

input[type=text] {
  padding: 0 4px;
}

textarea, input[type=text] {
  .input-placeholder({
    font-style: italic;
  });
  &:enabled {
    border: 1px solid;
    border-color: @dark-gray;
  }
}

#list-container {
  width: @content-width;
  z-index: 1;
}
#list-container.has-selected {
  position: fixed;
  top: @topbar-height;
  height: @overview-list-height;
}

.link-list {
  margin-top: 10px;

  .link-list-item {
    display: inline-block;
    padding: 0 20px;
    border-right: solid 1px @light-gray;
    h3 {
      margin-top: 0;
    }
  }

  :first-child {
    padding-left: 0;
  }

  :last-child {
    border-right: none;
  }
}

.link-divider {
  color: @light-gray;
  margin: 0 6px;
  &:after {
    content: "|";
  }
}

input[type=radio] {
  display: none;
}

input[type=radio] + label {
  text-transform: uppercase;
  display: inline-block;
  color: @dark-gray;
  margin: 4px 3px;
  padding: 12px;
  background-color: #fff;
  border: solid 1px @dark-gray;
  cursor: pointer;
}

input[type=radio]:disabled + label {
  color: @light-gray;
  cursor: default;
  border: solid 1px @light-gray;
}

input[type=radio]:checked + label {
  margin: 0;
  color: @text-black;
  border: solid 4px @light-green;
}

table.overview-list {
  width: @content-width;
  text-align: left;

  thead {
    .noselect;
    display: block;
    tr {
      // tr cannot have margin
      border-top: 10px transparent solid;
      border-bottom: 2px transparent solid;
      th:first-child {
        padding-right: @table-indent;
      }
      th:last-child {
        padding-right: @table-indent;
      }
      th {
        font-weight: normal;
        color: @form-label-black;
        padding-bottom: 7px;
      }
    }
  }
  tbody.has-selected {
    height: 180px;
  }
  tbody {
    display: block;
    overflow-y: auto;
    tr:first-child {
      border-top: 1px solid @light-gray;
    }
    tr {
      &.overview-row {
        td:first-child {
          padding-left: @table-indent;
        }
        td:last-child {
          padding-right: @table-indent;
        }
        cursor: pointer; cursor: hand;
        color: #1A1919;
      }

      &.unselected:hover {
        background-color: lighten(@selected-blue, 42%);
      }
      &.selected {
        background-color: @blue;
        color: white;
        .btn-role{
          border-color: #fff;
        }
        .btn-role__count{
          color: #fff;
        }
      }
      td {
        padding: 5px 0;
      }
    }
  }
  tfoot {
    display: block;
    border-top: 1px solid @light-gray;
    font-weight: bold;
    td:first-child {
      padding-left: @table-indent;
    }
    td:last-child {
      padding-right: @table-indent;
    }
    td {
      padding-top: 5px;
    }
  }
}

.hakemus-filter-container{
  position: relative;
  display: block;
  width: 250px;
  margin-right: 20px;
  float: left;
  .hakemus-filter-remove{
    color: @blue;
    margin-left: 10px;
    cursor: pointer;
    font-size: 11px;
  }
}

.panel{
  background-color: #fff;
  padding: 15px;
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  z-index: 10000;

  .close{
    color: @light-gray;
    font-weight: 200;
    font-family: "Helvetica Neue","Helvetica",Arial,sans-serif;
    font-size: 30px;
    position: absolute;
    right: -5px;
    top: -5px;
    margin: 0;
  }
}

.person-panel{
  width: 333px;
  position: absolute;
  max-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
  left: -314px;
  top: 32px;
  text-align: left;
  .box-triangle(325px);
  .box-triangle-up(@light-gray, @off-white);
  button{
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &&--top{
    left: inherit;
    right: 20px;
    top:80px;
    &:before,&:after{
      content: none;
    }
  }
}

.hakemus-filter-panel{
  width: 500px;
  position: absolute;
  left: -50%;
  top: 32px;
  .box-triangle(140px);
  .box-triangle-up(@light-gray, @off-white);
}

.hakemus-filter-question{
  color: @blue;
  cursor: pointer;
  margin-bottom: 10px;
  position: relative;
  margin-right: 20px;
  font-size: 12px;
  &:before{
    content: "\25BC";
    font-size: 10px;
    margin-right: 5px;
  }

  &--open{
    &:before{
      content: "\25B2";
    }
  }
}

.hakemus-filter-options{
  margin-bottom: 10px;
  button{
    margin-bottom: 10px;
  }
}

.role-container{
  margin-bottom: 10px;
}

.role-title{
  font-size: 12px;
  margin-bottom: 15px;
  color: #C4C4C4;
}

.btn-role{
  background: transparent url('../img/person_icon.png') no-repeat 25% 50%;
  position: relative;
  width: 30px;
  height: 25px;
  margin-bottom: 0;

  &--center{
    background-position-x: 50%;
  }
  &__count{
    color: #C4C4C4;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: 2px;
    right:3px;
  }
}

.radio-container{
  border: 1px solid #dfdfdf;
  box-shadow: 0 1px 1px rgba(0,0,0,.5);
  width: 100%;
  margin-top: 6px;
  margin-bottom: 10px;
  position: relative;
  &--rahoitusalue{
    .box-triangle(100px);
    .box-triangle-up(@light-gray, @off-white);
  }
}

.radio-row{
  box-sizing: border-box;
  color:@blue;
  width: 100%;
  padding: 5px 10px;
  cursor:pointer;
  &--unselected:hover{
    background-color: #e0edf4;
  }
  &--selected{
    background-color: @blue;
    color: #fff;
  }
  label{
    cursor: pointer;
  }

  input[type="radio"]{
    display: none;
  }
}