.information-verification {
    margin: 2rem 0;
    width: 100%;
}

.information-verification textarea {
    width: calc(100% - 22px);
}

.information-verification .verification-comment {
    padding: 1rem;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
}