#tab-content {
  .soresu-key,
  .soresu-value { width: 100%; }
  .extra-small,
  .small,
  .medium,
  div.soresu-attachment-block { width: auto;padding-top: 0;}
  ol {margin-top: 0;}
  li {  padding: 0; position:relative;}
  li:before {margin-top: 12px;}
  .soresu-preview-element {margin-top: 0;display: block;}
  .soresu-theme {margin:0;}
  .soresu-theme > div { margin-left: 0; }
}
