#tab-content {
  .soresu-key,
  .soresu-value { width: 100%; }
  .extra-small,
  .small,
  .medium,
  div.soresu-attachment-block { width: auto; padding: 0; border: none; }
  .soresu-preview-element { margin-top: 0; display: block; }
  .soresu-theme { margin:0; }
}
