#tab-content {
  .soresu-key,
  .soresu-value {
    width: 100%;
  }
  .extra-small,
  .small,
  .medium,
  .soresu-attachment-block {
    width: auto;
    font-size: inherit;
  }
  .soresu-attachment-block {
    border: none;
    padding: 0;
  }
  .soresu-preview-element {
    margin-top: 0;
    display: block;
  }
  .soresu-theme {
    margin: 0;
  }
}
