@import "~soresu-form/web/form/style/variables.less";

.writeMuistutusviesti{
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    padding-block: 0.5rem;
    border-block: 1px  @light-gray solid;
    &.formOpen {
        border-bottom: none;
        margin-bottom: 0;
    }
    .writeMuistutusviestiButton {
        background-color: initial;
        border: none;
        color: @light-blue;
        &:hover {
            background-color: initial;
        }
    }
}