.muutoshakemus-form-section {
    border: 1px solid #EAEAEA;
    box-sizing: border-box;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.05));
    background-color: #fefefe;
    margin: 2rem 0;
}

.muutoshakemus-form-section_date-picker-fix {
    position: relative;
    z-index: 1;
}

.muutoshakemus-form-section_content {
    padding: 0 1.5rem 0 1rem;
}

.muutoshakemus-form-section_cta {
    background: #F7FCFF;
    mix-blend-mode: darken;
    border: 1px solid #D6F1FF;
    box-sizing: border-box;
    padding: 1rem;
}