.muutoshakemus-paatos__content {
    width: 100%;
    max-width: 1000px;
    padding: 2rem;
    box-sizing: border-box;
}

.muutoshakemus-paatos__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 10px 0 30px;
    text-align: center;
}

.muutoshakemus-paatos-title {
    text-align: left;
}

.muutoshakemus-paatos__org {
    font-size: 1.8rem;
    letter-spacing: -0.015em;
    font-weight: bold;
}

.muutoshakemus-paatos__section {
    display: flex;
    padding: 3rem 0;
}

.muutoshakemus-paatos__section:not(.no-border-top) {
    border-top: 1px solid #d9d9d9;
}

.muutoshakemus-paatos__section-paatos {
    flex-direction: column;
}

.muutoshakemus-paatos__section-container {
    display: flex;
    width: 100%;
}

.muutoshakemus-paatos__section-content {
    width: 100%;
}

.muutoshakemus-paatos__title {
    width: 20%;
    min-width: 20%;
    margin-right: 2rem;
}

.muutoshakemus-paatos__perustelut div:nth-child(2) {
    margin-top: 1rem;
}

.muutoshakemus-paatos__project-name {
    padding-bottom: 1.2rem;
    font-size: 1.2rem;
    letter-spacing: -0.015em;
    font-weight: bold;
}

.muutoshakemus-paatos__project-name>i {
    font-style: normal;
}

.muutoshakemus-paatos__jatkoaika {
    display: flex;
    margin-bottom: 2rem;
}

.muutoshakemus-paatos__jatkoaika div {
    margin-right: 4rem;
}

.muutoshakemus-paatos__talousarvio {
    margin-bottom: 2rem;
}

.muutoshakemus-paatos__change-header {
    font-weight: 600;
    font-size: 1rem;
    color: black;
    margin: 0 0 1.2rem;
}

.muutoshakemus-paatos__presenter {
    margin-top: 1.2rem;
}

.muutoshakemus-paatos__reason {
    white-space: pre-wrap;
}