Host va-build
     HostName 86.50.169.218
     User cloud-user
     StrictHostKeyChecking yes
     IdentityFile ~/.ssh/pouta-%u.pem

Host va-test * !86.50.169.218 !va-build
     ProxyCommand ssh cloud-user@86.50.169.218 nc %h %p
     User cloud-user
     StrictHostKeyChecking no
     UserKnownHostsFile /dev/null