[Service]
Environment="JENKINS_HOME=/data/jenkins"
WorkingDirectory=/data/jenkins
Environment="JAVA_HOME=/usr/lib/jvm/jre-11-openjdk"
Environment="JENKINS_LISTEN_ADDRESS=oph-va-ci-test01.csc.fi"
Environment="JENKINS_PORT=8000"
Environment="JENKINS_PREFIX=/"
LimitNOFILE=65535
