{:name "LKP account with radioButton-0 value"
 :key "radioButton-0"
 :accounts {"kunta_kirkko" "82010000"
            "liiketalous" "82310000"
            "voittoa_tavoittelematon" "82510000"
            "yliopisto" "82930000"
            "valtio" "82980000"
            "eu-maat" "82820000"
            "ei-eu-maat" "82800000"}}
