#!/bin/bash
set -euo pipefail

#echo "Cleaning workspace"
#./lein clean

#echo "Running tests"
#./lein spec -f d

echo "Building uber jar"
time ./lein uberjar

echo "Transfering to test server {{ test_machine_name }}"
SSH="ssh {{ test_machine_name }}"
TARGET_DIR=/var/www
TARGET_PATH=${TARGET_DIR}/va-`date +'%Y%m%d%H%M%S'`
scp -r target/uberjar/oph-valtionavustus-*-standalone.jar www@"{{ test_machine_name }}":${TARGET_PATH}
$SSH -l www ln -sf ${TARGET_PATH} ${TARGET_DIR}/current.jar
$SSH -l www "/usr/local/bin/run_app.bash ${TARGET_DIR}/current.jar"