[SERVICE]
  Parsers_File parsers.conf

[INPUT]
  Name             tail
  Db               /logs/fluent-bit_tail-state.db
  Path             /logs/valtionavustus/va*_application.log
  Path_Key         filename
  Multiline        On
  Parser_Firstline multiline_log4j

[FILTER]
  Name  grep
  Match *
  Regex level ERROR

[OUTPUT]
  Name   http
  Match  *
  Tls    on
  Format json
  Host   events.pagerduty.com
  Port   443
  URI    /integration/{{ pagerduty_integration_key_fluent_bit }}/enqueue