<section class="section">
  <h1>{{#t}}kayttosuunnitelma{{/t}}</h1>
  <table>
    <thead>
      <tr>
        <th>{{#t}}hankkeen-menot{{/t}}</th>
        <th class="amount budgetAmount">{{#t}}haettu{{/t}}</th>
        <th class="amount budgetAmount">{{#t}}hyvaksytty{{/t}}</th>
      </tr>
    </thead>
    {{{tbody0}}}
    <tfoot>
      <tr>
        <th>{{#t}}kokonaismenot-yhteensa{{/t}}</th>
        {{#amount-cell}}{{total-original-costs}}{{/amount-cell}}
        {{#amount-cell}}{{total-overridden-costs}}{{/amount-cell}}
      </tr>
    </tfoot>
  </table>


  <table>
    <thead>
      <tr>
        <th colSpan="3">{{table1-label}}</th>
      </tr>
    </thead>
    {{{tbody1}}}
    <tfoot>
      <tr>
        <th>{{#t}}nettomenot-yhteensa{{/t}}</th>
        {{#amount-cell}}{{netto-total-1}}{{/amount-cell}}
        {{#amount-cell}}{{netto-total-2}}{{/amount-cell}}
      </tr>
    </tfoot>
  </table>


  <table>
    <thead>
      <tr>
        <th colSpan="3">{{table2-label}}</th>
      </tr>
    </thead>
    {{{tbody2}}}
    <tfoot>
      <tr>
        <th>{{#t}}rahoitus-yhteensa{{/t}}</th>
        {{#amount-cell}}{{total-financing}}{{/amount-cell}}
        {{#amount-cell}}{{total-financing}}{{/amount-cell}}
      </tr>
    </tfoot>
  </table>

  <table>
    <tbody>
    <tr>
      <th class="footerTitle">{{#t}}myonnetty-avustus{{/t}} {{oph-financing-note}}</th>
      {{#amount-cell}}{{total-avustus}}{{/amount-cell}}
      {{#amount-cell}}{{total-granted}}{{/amount-cell}}
    </tr>
    {{#show-financing-note}}
      <tr>
        <th class="footerTitle">{{#t}}oma-rahoitus{{/t}} {{oph-financing-note}}</th>
        {{#amount-cell}}{{total-haettu-omarahoitus}}{{/amount-cell}}
        {{#amount-cell}}{{total-myonnetty-omarahoitus}}{{/amount-cell}}
      </tr>
    {{/show-financing-note}}
    </tbody>
  </table>


</section>