<section class="section">
  <h1>{{#t}}kayttosuunnitelma{{/t}}</h1>
  <table>
    <thead>
      <tr>
        <th>{{#t}}hankkeen-menot{{/t}}</th>
        <th class="amount budgetAmount">{{#t}}haettu{{/t}}</th>
        <th class="amount budgetAmount">{{#t}}hyvaksytty{{/t}}</th>
      </tr>
    </thead>
    {{{tbody0}}}
    <tfoot>
      <tr>
        <th>{{#t}}kokonaismenot-yhteensa{{/t}}</th>
        {{#amount-cell}}{{total-original-costs}}{{/greet}}
        {{#amount-cell}}{{total-overridden-costs}}{{/amount-cell}}
      </tr>
    </tfoot>
  </table>


  <table>
    <thead>
      <tr>
        <th colSpan="3">{{table1-label}}</th>
      </tr>
    </thead>
    {{{tbody1}}}
    <tfoot>
      <tr>
        <th>{{#t}}nettomenot-yhteensa{{/t}}</th>
        {{#amount-cell}}{{netto-total-1}}{{/greet}}
        {{#amount-cell}}{{netto-total-2}}{{/greet}}
      </tr>
    </tfoot>
  </table>


  <table>
    <thead>
      <tr>
        <th colSpan="3">{{table2-label}}  {tables[2].label[L.lang]}</th>
      </tr>
    </thead>
    {{{tbody2}}}
    <tfoot>
      <tr>
        <th>{{#t}}rahoitus-yhteensa{{/t}}</th>
        {{#amount-cell}}{{total-financing}}{{/greet}}
        {{#amount-cell}}{{total-financing}}{{/greet}}
      </tr>
    </tfoot>
  </table>

  <table>
    <tbody>
    <tr>
      <th class="footerTitle">{{#t}}myonnetty-avustus{{/t}} {{oph-financing-note}}</th>
      {{#amount-cell}}{{total-avustus}}{{/greet}}
      {{#amount-cell}}{{total-granted}}{{/greet}}
    </tr>
    {ophFinancingPercentage!==100 && <tr>
      <th class="footerTitle"><L translationKey="oma-rahoitus"/> {ophFinancingPercentage!==100 ? (100-ophFinancingPercentage) + '%' :''}</th>
      <AmountCell>{Math.ceil(((totallOriginalCosts - totalIncomes - totalFinancing)*(100-ophFinancingPercentage))/100)}</AmountCell>
      <AmountCell>{Math.ceil(((totalOverriddenCosts - totalIncomes - totalFinancing)*(100-ophFinancingPercentage))/100)}</AmountCell>
    </tr>}
    </tbody>
  </table>


</section>