<section class="section section-no-border">
  <h1>{{#t}}kayttosuunnitelma{{/t}}</h1>
  <table>
    <thead>
      <tr>
        <th>{{#t}}hankkeen-menot{{/t}}</th>
        <th class="amount budgetAmount">{{#t}}haettu{{/t}}</th>
        <th class="amount budgetAmount">{{#t}}hyvaksytty{{/t}}</th>
      </tr>
    </thead>
    {{{tbody-menot}}}
    <tfoot>
      <tr>
        <th>{{#t}}kokonaismenot-yhteensa{{/t}}</th>
        {{{total-original-costs}}}
        {{{total-overridden-costs}}}
      </tr>
    </tfoot>
  </table>


  <table>
    <thead>
      <tr>
        <th colSpan="3">{{table-tulot-label}}</th>
      </tr>
    </thead>
    {{{tbody-tulot}}}
    <tfoot>
      <tr>
        <th>{{#t}}nettomenot-yhteensa{{/t}}</th>
        {{{netto-total-haettu}}}
        {{{netto-total-myonnetty}}}
      </tr>
    </tfoot>
  </table>


  {{#show-table-muu}}
  <table>
    <thead>
      <tr>
        <th colSpan="3">{{table-muu-label}}</th>
      </tr>
    </thead>
    {{{tbody-muu}}}
    <tfoot>
      <tr>
        <th>{{#t}}rahoitus-yhteensa{{/t}}</th>
        {{{total-financing}}}
        {{{total-financing}}}
      </tr>
    </tfoot>
  </table>
  {{/#show-table-muu}}

  <table>
    <tbody>
    <tr>
      <th class="footerTitle">{{#t}}myonnetty-avustus{{/t}} {{oph-financing-note}}</th>
      {{{total-oph-haettu}}}
      {{{total-oph-myonnetty}}}
    </tr>
    {{#show-omarahoitus}}
      <tr>
        <th class="footerTitle">{{#t}}oma-rahoitus{{/t}} {{hakija-financing-note}}</th>
        {{{total-omarahoitus-haettu}}}
        {{{total-omarahoitus-myonnetty}}}
      </tr>
    {{/show-omarahoitus}}
    </tbody>
  </table>


</section>
