@import "~soresu-form/web/form/style/common.less";
@import "~soresu-form/web/form/style/variables.less";
@import "../style/virkailija.less";

#list-heading {
  position: relative;
  margin: 8px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.035em;

  .right-side {
    position: absolute;
    right: 0;
    top: 2px;
    display: flex;
    align-items: center;
  }
}

#list-container {
  width: @content-width;
  z-index: 1;
}

#list-container.has-selected {
  position: inherit;
  top: 0;
  display: none;
  height: @overview-list-height;
}

.split-view #list-container.has-selected {
  display:block;
}
