@import "../style/virkailija.css";

#list-heading {
    display: grid;
    margin-top: 8px;
    grid-template-columns: 3fr 2fr;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: -0.035em;
}

#list-heading .right-side {
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 20px;
}

#list-heading .right-side .excel-download-link {
    grid-row: 2;
}

#list-heading .right-side a {
    padding: 4px 10px;
}

#list-container {
    width: var(--content-width);
    z-index: 1;
}

#list-container.has-selected {
    position: inherit;
    top: 0;
    display: none;
    height: var(--overview-list-height);
}

.split-view #list-container.has-selected {
    display: block;
}