{:server {:auto-reload? true
          :allow-db-clear? false
          :enable-access-log? true
          :host "localhost"
          :port 8080}
 :ui {:show-environment? true}
 :api {:restricted-routes? true}
 :db {:username "va"
      :password "va"
      :server-name "localhost"
      :port-number 5432
      :currentSchema "hakija"}
 :email {:enabled? false
         :host nil
         :port nil
         :from {:fi "no-reply@valtionavustukset.oph.fi"
                :sv "no-reply@statsunderstod.oph.fi"}
         :sender "no-reply@csc.fi"
         :bounce-address "va-dev@reaktor.com"
         :print-mail-on-disable? true
         :retry-initial-wait 2000
         :retry-multiplier 4
         :retry-max-time 60000}}
