{:server {:auto-reload? true
          :allow-db-clear? false
          :enable-access-log? true
          :host "localhost"
          :port 8080
          :attachment-max-size 50 ;in megabytes
          :attachment-mime-types ["text/plain"
                                  "application/rtf"
                                  "application/pdf"
                                  "application/vnd.oasis.opendocument.text"
                                  "application/msword"
                                  "application/vnd.openxmlformats-officedocument.wordprocessingml.document"
                                  "application/vnd.oasis.opendocument.spreadsheet"
                                  "application/vnd.ms-excel"
                                  "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"]
          :threads 16
          :virkailija-url "http://localhost:8081"}
 :ui {:show-environment? true
      :paatos-path "/public/api/avustushaku/paatos/"}
 :api {:restricted-routes? true}
 :form-db {:pool-name "hakija-pool"
      :username "va_hakija"
      :password "va"
      :server-name "localhost"
      :port-number 5432
      :schema "hakija"}
 :email {:enabled? false
         :host nil
         :port nil
         :queue-size 1024
         :from {:fi "no-reply@valtionavustukset.oph.fi"
                :sv "no-reply@statsunderstod.oph.fi"}
         :sender "no-reply@csc.fi"
         :bounce-address "va-dev@reaktor.com"
         :registry-address "va-dev@reaktor.com"
         :print-mail-on-disable? true
         :retry-initial-wait 2000
         :retry-multiplier 4
         :retry-max-time 60000}}
