{:server {:auto-reload? false
          :allow-db-clear? false
          :port 8081
          :host "*"
          :url {:fi "https://testi.valtionavustukset.oph.fi/"
                :sv "https://testi.valtionavustukset.oph.fi/"}
          :virkailija-url "https://testi.virkailija.valtionavustukset.oph.fi"}
 :db {:database-name "va-qa"
      :port-number 5432}
 :email {:enabled? true
         :host "smtp.sdn.csc.fi"
         :port 25
         :sender "no-reply@csc.fi"}
 :grant-reporting-deadline {:enabled? true}
 }
