<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Console name="ApplicationLog" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{ISO8601} %-5p [%t] %c: %m%n"/>
    </Console>
  </Appenders>
  <Loggers>
    <Logger name="oph" level="trace" additivity="false">
      <AppenderRef ref="ApplicationLog"/>
    </Logger>
    <Root level="warn">
      <AppenderRef ref="ApplicationLog"/>
    </Root>
  </Loggers>
</Configuration>
