.font {
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.035em;
}

.filterInput {
  composes: font;
  display: flex;
  align-items: center;

  input {
    text-align: left;
    padding: 4px 4px 4px 8px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
  }
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

.hakemusTable {
  composes: font;
  width: 100%;
  background-color: #fff;
  table-layout: fixed;

  th {
    padding: 8px;
    text-align: left;
  }
  td {
    max-width: 216px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
  tbody tr {
    td {
      padding: 8px 5px 8px 5px;
    }
    td:first-of-type, td:nth-of-type(2) {
      padding-left: 12px;
    }
    td:last-of-type {
      padding-right: 8px;
    }
    &:nth-of-type(even):not(:hover) {
      background: #fafafa;
    }
    &:hover {
      background-color: #EBF7FD;
    }
    &:active {
      background-color: darken(#EBF7FD, 10%);
    }
  }
  thead tr {
    border-bottom: 1px solid #E1E1E1;
  }
  tfoot {
    background-color: #fff;
    position: sticky;
    bottom: 0;
    z-index: 0;
    td:first-of-type {
      padding: 8px 0 8px 12px;
    }
  }
}

.splitView {
  height: 240px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.projectTd {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project {
  span:nth-of-type(2) {
    padding-left: 8px;
  }
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hakemusRow {
  cursor: pointer;
  background-color: #fff;
}

.selectedHakemusRow {
  composes: hakemusRow;
  background-color: #EBF7FD;
  &:hover {
    background-color: darken(#EBF7FD, 20%);
  }
  &:active {
    background-color: darken(#EBF7FD, 40%);
  }
}

.yhteenveto {
  margin-left: 1rem;
}

.tableLabel {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tableLabelPopup {
  position: absolute;
  top: 35px;
  background-color: #fff;
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 160px;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 40%);
  &:after {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 0;
    height: 0;
    border: 5px solid;
    border-color: transparent transparent #fff #fff;
    transform-origin: 0 0;
    transform: rotate(135deg);
    box-shadow: -2px 2px 3px 0 rgb(0 0 0 / 10%);
  }
}

.statusCheckbox {
  display: flex;
  padding: 4px 0 4px 0;
  align-items: center;
  input {
    margin-right: 8px;
  }
}

.btn {
  composes: font;
  &:focus {
    outline: none;
  }
  &:hover:not(:disabled) {
    background-color: #EBF7FD !important;
  }
  &:active:not(:disabled) {
    background-color: darken(#EBF7FD, 10%) !important;
  }
}


.tableLabelBtn {
  composes: btn;
  background-color: transparent;
  color: #499CC7;
  font-size: 13px;
  padding: 0;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 2px;
  &:hover {
    border: 1px solid #499CC7;
  }
  &:disabled {
    border: none;
    background: unset;
    color: black;
  }
}

.tableLabelBtnOpen {
  composes: tableLabelBtn;
  border: 1px solid #499CC7;
  background-color: #EBF7FD;
}

.polygon {
  height: 8px;
  width: auto;
  margin-left: 8px;
}

.deleteBtn {
  composes: btn;
  background: transparent url('../img/x-button.svg') no-repeat center;
  background-size: 14px 14px;
  border-width: 0;
  margin: 0;
  height: 22px;
}
