.popup-box-shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.4);
}

.get-business-id:disabled {
    background-color: var(--darker-gray);
}

.overlay {
    z-index: 1000;
    left: 0;
    top: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

input[type="text"].error {
    border: 2px solid var(--bright-red);
}

#not-found-business-id,
#other-error-business-ids>span {
    color: var(--bright-red);
    font-weight: bold;
}