.ease-in-out(@seconds) {
  -webkit-transition: all @seconds ease-in-out;
  -moz-transition: all @seconds ease-in-out;
  -ms-transition: all @seconds ease-in-out;
  -o-transition: all @seconds ease-in-out;
  transition: all @seconds ease-in-out;
}

.scale(@factor) {
  -webkit-transform: scale(@factor);
  -moz-transform: scale(@factor);
  -ms-transform: scale(@factor);
  -o-transform: scale(@factor);
  transform: scale(@factor);
}

.popup-box-shadow {
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.40);
}

.box-triangle(@position) {
  &:before, &:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent;
  }

  &:before {
    left: @position;
    border-width: 11px;
  }

  &:after {
    left: @position + 1px;
    border-width: 10px;
  }
}

.box-triangle-up(@stroke, @fill) {
  &:before, &:after {
    border-top: 0;
  }

  &:before {
    top: -11px;
    border-bottom-color: @stroke;
  }

  &:after {
    top: -10px;
    border-bottom-color: @fill;
  }
}

.box-triangle-down(@stroke, @fill) {
  &:before, &:after {
    border-bottom: 0;
  }

  &:before {
    bottom: -11px;
    border-top-color: @stroke;
  }

  &:after {
    bottom: -10px;
    border-top-color: @fill;
  }
}

.soresu-dynamic-children-transition-enter {
  opacity: 0.3;
  transition: opacity 0.5s linear;

  &.soresu-dynamic-children-transition-enter-active {
    opacity: 1;
  }
}

.soresu-dynamic-children-transition-exit {
  opacity: 1;
  transition: opacity 0.4s linear;

  &.soresu-dynamic-children-transition-exit-active {
    opacity: 0.3;
  }
}

.soresu-focus-show-error() {
  input:focus.error,
  select:focus.error,
  textarea:focus.error {
    box-shadow: 0 0 5px rgba(97, 186, 233, 1);
    outline: 1px solid @bright-red;
  }
}

@soresu-chevron-offset: 10px;
.soresu-chevron-up(@size, @thickness, @color) {
  position: relative;
  display: block;
  height: @size;

  &:before, &:after {
    right: 0;
    top: -1 * @soresu-chevron-offset;
    position: absolute;
    display: block;
    content: "";
    border: (@size / 2) solid transparent;
  }

  &:before {
    bottom: @soresu-chevron-offset;
    border-bottom-color: @color;
  }

  &:after {
    bottom: @soresu-chevron-offset - @thickness;
    border-bottom-color: #fff; /* Match background colour */
  }
}

.soresu-chevron-down(@size, @thickness, @color) {
  position: relative;
  display: block;
  height: @size;

  &:before, &:after {
    right: 0;
    position: absolute;
    display: block;
    content: "";
    border: (@size / 2) solid transparent;
  }

  &:before {
    top: @soresu-chevron-offset;
    border-top-color: @color;
  }

  &:after {
    top: @soresu-chevron-offset - @thickness;
    border-top-color: #fff; /* Match background colour */
  }
}


.modal {
  position: fixed;
  top: 30%;
  left: 30%;
  right: 40%;
  bottom: 30%;
  background-color: @lighter-gray;
  height: 350px;
  width: 600px;
  padding: 30px 5px 15px 0px;
  border-radius: 8px;
  opacity: 1;
}

.modal-label {
  padding-right: 0px;
}

.modal-label > input {
  margin: 0 10px 0 10px;
  padding: 8px;
}

.modal:focus {
  outline: none;
}

.modal > div {
  text-align: center;
  vertical-align: middle;
  margin-top: 60px;
  opacity: none;
}

.get-business-id:disabled {
  background-color: @darker-gray;
}

.overlay {
  position: absolute;
  top: 30% !important;
  left: 40px;
  right: 40px;
  bottom: 40px;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

input[type=text].error {
  border: 2px solid @bright-red;
}

#not-found-business-id, #other-error-business-ids > span{
  color: @bright-red;
  font-weight: bold;
}
