:root {
  --form-width: 1300px;
  --section-width: 800px;
  --form-heading-width: 250px; /* From main.less */

  /* Colors */
  --lightest-gray: #fafafa;
  --lighterer-gray: #f5f5f5;
  --lighter-gray: #f0f0f0;
  --lightish-gray: #e3e3e3;
  --light-gray: #d9d9d9;
  --silver: #cacaca;
  --middle-gray: #c1c1c1;
  --dark-gray: #999290;
  --darkish-gray: #98918f;
  --darker-gray: #807a78;
  --mid-gray: #534f4e;
  
  --light-green: #73ba21;
  --jotpa-green: #009b62;
  --dark-green: #00973a;
  --mantis-green: #79C640;
  
  --text-black: #1a1919;
  --form-label-black: #4a4a4a;
  
  --light-blue: #159ecb;
  --lighter-blue: #dcf5fd; /* lighten(@light-blue, 47%) */
  --background-blue: #F7FCFF;
  --bright-blue: #00b5f0;
  --dark-blue: #00516d;
  
  --bright-red: #c9302c;
  --bright-red-light: #f5b0af; /* lighten(@bright-red, 33%) */
  
  --yellow: #efc211;
  --chuck-norris: #bada55;
  
  --content-width: 1300px;
  --preview-width: 520px;
  --off-white: #fefefe;
}
