.trainee-day-edit {
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
  line-height: 1.1;
}

.trainee-day-edit table {
  width: 100%;
}

.trainee-day-edit tr {
  border-bottom: 1px solid #d9d9d9;
}

.trainee-day-edit td {
  padding: 5px;
}

.trainee-day-edit td.original-value {
  padding-right: 0;
  text-align: right;
}

.trainee-day-edit tfoot tr {
  background-color: #f6f6f6;
  border-bottom: none;
}

.trainee-day-edit tfoot tr td {
  padding-top: 7px;
  padding-bottom: 7px;
}

.trainee-day-edit tfoot tr td:first-child {
  padding-left: 10px;
}

.trainee-day-edit tfoot tr:last-child td {
  padding-top: 0;
}

.trainee-day-edit .text-gray {
  color: var(--dark-gray);
}

.trainee-day-edit .text-center {
  text-align: center;
}

.trainee-day-edit .soresu-preview {
  width: 100%;
}

.trainee-day-edit .soresu-text-field {
  display: inline-block;
}

.trainee-day-edit .soresu-text-field input[type='text'] {
  padding: 4px;
  font-size: 12px;
  width: 20px;
  margin-top: 0;
  margin-right: 5px;
  text-align: center;
}
