name: Deploy to environment
on:
  workflow_call:
    inputs:
      env:
        type: string
        required: true

defaults:
  run:
    shell: bash

jobs:
  deploy:
    name: Deploy to ${{ inputs.env }}
    runs-on: ubuntu-24.04
    environment: ${{ inputs.env }}
    env:
      AWS_ACCOUNT_ID_DEV: ${{ secrets.AWS_ACCOUNT_ID_DEV }}
      AWS_ACCOUNT_ID_QA: ${{ secrets.AWS_ACCOUNT_ID_QA }}
      AWS_ACCOUNT_ID_PROD: ${{ secrets.AWS_ACCOUNT_ID_PROD }}
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          fetch-depth: 0

      - name: Send in-progress status to radiator
        run: |
          curl \
            -H "AUTH_TOKEN: ${{ secrets.RADIATOR_AUTH_TOKEN }}" \
            -H "Content-Type: application/json" \
            -X PUT \
            https://radiator.continuous-services.services/api/v2/buildstatus/valtionavustus/deploy-${{ inputs.env }} \
            -d '{"status": "inProgress"}'

      - name: Check commit deployment status
        run: ./deploy-scripts/check-commit-to-deploy-${{ inputs.env }}.sh ${{ github.sha }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502 # v4
        with:
          aws-region: eu-west-1
          role-to-assume: ${{ secrets.DEPLOY_ROLE_ARN }}
          role-duration-seconds: 7200 #two hours

      - uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3
        with:
          platforms: 'arm64,arm'

      - uses: docker/setup-buildx-action@18ce135bb5112fa8ce4ed6c17ab05699d7f3a5e0 # v3

      - name: 05-deploy-cdk.sh
        id: deploy
        run: ./deploy-scripts/05-deploy-cdk-${{ inputs.env }}.sh
        env:
          DOCKER_BUILDKIT: 1

      - name: Send deployment Slack notification
        if: always()
        continue-on-error: true
        env:
          ENVIRONMENT: ${{ inputs.env }}
          OPH_SLACK_WEBHOOK: ${{ secrets.OPH_SLACK_WEBHOOK }}
          APP_SUCCESSFULLY_DEPLOYED: ${{ steps.deploy.outcome == 'success' }}
          COMMIT_HASH: ${{ github.sha }}
        run: ./scripts/slack/post-github-deploy-status-to-slack.sh

      - name: set now timestamp
        id: now
        run: echo "timestamp=$(date -Iseconds | sed s/:/_/g )" >> $GITHUB_OUTPUT

      - name: Update green tag
        if: steps.deploy.outcome == 'success'
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git tag --force va-green-${{ inputs.env }}
          git push --force origin va-green-${{ inputs.env }}
          git tag va-green-${{ inputs.env }}-${{ steps.now.outputs.timestamp }}
          git push origin va-green-${{ inputs.env }}-${{ steps.now.outputs.timestamp }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Send deploy status to radiator
        if: always()
        continue-on-error: true
        env:
          DEPLOY_STATUS: ${{ steps.deploy.outcome == 'success' && 'success' || 'failure' }}
        run: |
          curl \
            -H "AUTH_TOKEN: ${{ secrets.RADIATOR_AUTH_TOKEN }}" \
            -H "Content-Type: application/json" \
            -X PUT \
            https://radiator.continuous-services.services/api/v2/buildstatus/valtionavustus/deploy-${{ inputs.env }} \
            -d "{\"status\": \"${DEPLOY_STATUS}\"}"
