name: Build and test master
on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/_build.yaml
    secrets: inherit

  generate-playwright-report:
    name: Generate report from Playwright runs
    runs-on: ubuntu-24.04
    needs: build
    if: ${{ !cancelled() }}
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.pages-deployment.outputs.page_url}}
    concurrency: github-pages
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6
        with:
          path: all-blob-reports
          pattern: playwright-blob-*
          merge-multiple: true
      - run: npx playwright merge-reports --reporter github,html ./all-blob-reports
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5
        with:
          name: playwright-html-report
          path: playwright-report
          retention-days: 14
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: 'playwright-report'
      - name: Deploy artifact
        id: pages-deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4

  deploy:
    needs: build
    uses: ./.github/workflows/_deploy-all.yaml
    secrets: inherit
