name: Build and test master
on:
  push:
    branches:
      - master

jobs:
  build:
    uses: ./.github/workflows/_build.yaml
    secrets: inherit

  generate-playwright-report:
    name: Generate report from Playwright runs
    runs-on: ubuntu-24.04
    needs: build
    if: ${{ !cancelled() }}
    permissions:
      contents: read
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{steps.pages-deployment.outputs.page_url}}
    concurrency: github-pages
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7
        with:
          path: all-blob-reports
          pattern: playwright-blob-*
          merge-multiple: true
      - run: npx playwright merge-reports --reporter github,html ./all-blob-reports
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: playwright-html-report
          path: playwright-report
          retention-days: 14
      - name: Setup Pages
        uses: actions/configure-pages@983d7736d9b0ae728b81ab479565c72886d7745b # v5
      - name: Upload Artifact
        uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          name: github-pages-${{ github.run_number }}
          path: 'playwright-report'
      - name: Deploy artifact
        id: pages-deployment
        uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
        with:
          artifact_name: github-pages-${{ github.run_number }}

  deploy:
    needs: build
    uses: ./.github/workflows/_deploy-all.yaml
    secrets: inherit
