name: Renovate
on:
  workflow_dispatch:
  push:
    branches:
      - master
  schedule:
    - cron: "0 16/2,0-6/2 * * *"

concurrency: renovate

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2
        id: app-token
        with:
          private-key: ${{ secrets.PRIVATE_KEY }}
          app-id: ${{ secrets.APP_ID }}
          repositories: |
            valtionavustus
      - name: Self-hosted Renovate
        uses: renovatebot/github-action@8cb0d4a6ab7d8bb90460a005f7bd33b80dd07ca8 # v44.2.5
        with:
          configurationFile: .github/renovate.json
          token: ${{ steps.app-token.outputs.token }}
          renovate-version: 42-full
        env:
          RENOVATE_ALLOWED_POST_UPGRADE_COMMANDS: '["./scripts/refresh_pom_xml.sh"]'
